[2016-07-07 12:01] yashim opened #1 "Current status of OCCP implemetation"
Hi, Thomas!
You've published a lot of work here. I'm interested in current status of this project and future plans. What features are already implemented and what features you are planning to implement soon?

[2017-01-09 08:51] davidhuwyler opened #2 "Suggestion for improvement: SOAP"
In order to support existing charging infrastructure it would be great to have JSON & SOAP support.

Best regards
David Huwiler

[2017-01-09 10:17] TVolden commented on #2
Hi David,

Thanks for your request. I have started to plan the work.

You can follow the status here:
https://tree.taiga.io/project/tvolden-java-oca-ocpp

[2017-01-12 08:30] davidhuwyler opened #3 "Session != Client.connection"
Hi Thomas

I think there is a Implementation problem at:  **JSONServerSample.java at line 124:**

        `server.open("localhost", 8887, new ServerEvents() {

            @Override
            public void newSession(int sessionIndex) {

                // sessionIndex is used to send messages.
                System.out.println("New session " + sessionIndex);
            }

            @Override

[2017-01-12 10:01] TVolden commented on #3
Yeah okay, I see what you are saying. Session may not be the best name for that class. I choose the name, since my scope is limited to communication between nodes.

My thoughts was that a Session doesn't only hold a connection, but also has a responsibility for matching responses with the correct request. Handles errors and communicate them to the other end.
Please see ![Session](https://github.co

[2017-01-12 12:05] davidhuwyler commented on #3
Ok i got it. Thanks for clarifying

[2017-01-12 12:05] #3 closed

[2017-01-13 10:30] davidhuwyler opened #4 "unable to transmitt a Calendar in AuthorizeConfirmation message"
Hi Thomas

Today i found a new problem: If I want to transmit a Calendar object inside an IdTagInfo object inside an AuthorizeConfirmation object from the methode:
`public AuthorizeConfirmation handleAuthorizeRequest(int sessionIndex, AuthorizeRequest request)`
back to the client the following exception gets thrown by the client.

[code]

It seems like the client isnt able to parse a Calendar obje

[2017-01-13 10:55] TVolden commented on #4
Hmm, okay, that should be covered my unit test:

https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/master/ocpp-v1_6/src/test/java/eu/chargetime/ocpp/test/JSONCommunicatorTest.java#L87
`    @Test
    public void unpackPayload_aCalendarPayload_returnsTestModelWithACalendar() throws Exception {
        // Given
        String aCalendar = "2016-04-28T07:16:11.988Z";
        String payload = "{\"calen

[2017-01-13 20:56] TVolden commented on #4
Okay, I managed to provoke the bug. It turned out the server didn't use a correct format which caused an exception when the client tried to parse the message.

I expanded the FakeCentralSystem.java to include an expiryDate when it handles an authorize request. And fixed the bug in IdTagInfo.java

Please confirm if it fixed the issue.

[2017-01-13 21:31] TVolden commented on #2
First push containing a SOAP client that can send messages (but not receive).

[2017-01-16 08:27] davidhuwyler commented on #4
Yes i can confirm, this fixes the but. Thanks

[2017-01-16 08:37] TVolden commented on #4
Cool. Thank you. ☺️

[2017-01-16 08:37] #4 closed

[2017-01-19 12:52] TVolden commented on #2
The next push will have changes to models with enums and calendar dates. I have changed it so all getters have the same data type as the setters.

**This means you have to expect a Calendar/Enum object instead of a String and the "obj"-getter alternative will be removed.**

**Why?**
I had originally applied a hotfix to cope with the fact that the JSON lib didn't convert enums and Calendar dates co

[2017-01-25 21:32] TVolden commented on #2
Okay, second push. Client can now send requests and receive requests. Still need to make the server in order to do a full integration test.

[2017-02-07 21:53] emilm opened #5 "Possible leak in WebSocketListener"
In WebSocketListener the
`private HashMap<WebSocket, WebSocketReceiver> sockets;`
Is not removed from if you lose a connection / disconnect.

`@Override
public void onClose(WebSocket webSocket, int i, String s, boolean b) {
    sockets.get(webSocket).disconnect();
}` should remove it from the map. Maybe also check it for every connect unless you missed something? :)

[2017-02-08 07:15] TVolden commented on #5
Thanks for your input.

I have cheated and made a fix the problem already (in response to the emails you sent). It's delivered with the latest push on the SOAP feature.

[2017-02-08 12:11] emilm opened #6 "Unique session?"
Since chargers can connect and disconnect etc, maybe it's a better idea to have a GUID instead of int for a session so there's no way you can confuse them?

[2017-02-08 12:12] emilm commented on #5
Great!

[2017-02-08 12:12] #5 closed

[2017-02-08 13:42] TVolden commented on #6
That's an excellent idea. Should it be an guid object or a string?

[2017-02-08 21:45] TVolden commented on #6
I went with UUID based on this discussion: http://stackoverflow.com/questions/24887825/hashmap-uuid-or-string-as-key

[2017-02-08 21:47] emilm commented on #6
Sorry for not answering! Yeah I supposed a pure uuid type is good.  Both string and uuid needs to do an equals anyway. I guess uuid is not a value type?

[2017-02-08 21:56] TVolden commented on #6
the UUID object should be perfectly safe: http://stackoverflow.com/questions/30312867/java-is-it-safe-to-do-deepcopy-of-uuid-field-as-this-uuid-original-getuuid

I have set up a bidirectional hash map (thanks google) with the UUID as key.

[2017-02-08 21:59] emilm commented on #6
Great :)

[2017-02-08 22:02] TVolden commented on #6
Okay, the changes is pushed in commit 8ab84a280b2e53c3d5c6255d8e71994643b78d91

[2017-02-08 22:07] emilm commented on #6
Thanks! why did you need the bimap? I will run on an embedded system so need to keep the amount of dependencies and code etc low. :)

[2017-02-08 22:10] TVolden commented on #6
Mostly because of performance. I could experiment with a HashMap using a lambda expression instead.

[2017-02-08 22:11] emilm commented on #6
Performance is #1 so that's great. Will test it now!

[2017-02-08 22:13] TVolden commented on #6
Cool, let me know if you find anything.

[2017-02-08 22:18] emilm commented on #6
New session 67eb1e5e-db58-48f5-a6c6-e9411f7f3e80

Works! Thanks a lot!

[2017-02-08 22:18] #6 closed

[2017-02-09 05:41] yangzhengnan-le opened #7 "why no ReserveNowRequestFeature?"
why no ReserveNowRequestFeature?

[2017-02-09 08:05] TVolden commented on #7
Hello there, and thanks for the question.
So referring to the OCPP specification version 1.6, the ReserveNow.req (chapter 6.37.) is part of the Reservation feature profile. - Currently I have only implemented the features for Core feature profile.

I have a epic for the Reservation feature profile, please see:
https://tree.taiga.io/project/tvolden-java-oca-ocpp/epic/23

I can notch it up, if you n

[2017-02-09 10:35] yangzhengnan-le commented on #7
Thank you for your warm reply.I have already realize Reserve function, And what is your personal E-mail? Can we make frends?

[2017-02-09 11:25] TVolden commented on #7
You are welcome to e-mail me at tv@chargetime.eu. :)

[2017-02-15 15:16] emilm opened #9 "TriggerMessage?"
I am unable to find the implementation of this. Work in progress? :) Would you like to have a pull request for this or do you prefer to do it yourself? (noting that the pull request I already submitted isn't accepted) :)

[2017-02-15 21:04] TVolden commented on #9
I have split my project plan into profiles (defines in the OCPP 1.6 specs). I can see that TriggerMessage is part (and apparently the only one) of Remote Trigger feature profile.
https://tree.taiga.io/project/tvolden-java-oca-ocpp/epic/22

You are welcome to implement it if you need it, I can also notch it up in priority, but I still have this configuration task before core profile is done, done.

[2017-02-15 21:26] emilm commented on #9
Gotcha!

[2017-02-15 21:26] #9 closed

[2017-03-20 14:28] foluswen opened #16 "Have the lib test with OCPP Compliancy Tool"
Hello, recently I use this lib to test with "OCPP Compliancy Tool" from OCA?.

When I connect to server create by "OCPP Compliancy Tool", always get connection close event, then can not do next step test.

So, I want to check with you, do you ever face the issue same with me?.....

[2017-03-20 16:53] TVolden commented on #16
Hi there,

Thanks for your feedback.
I'm very​ interested in what you have learned and would like to know more. Do you use SOAP? Do you get any exceptions? Maybe some from the log.

I have experienced that the SOAP client/server close the connection prematurely. This was mainly due to the envelop/header.

I haven't tested the lib against the official compliance tool, since it's quite expensive and

[2017-03-20 21:10] foluswen commented on #16
Thank for your response.

 I use JSON with websocket, and does not find any exception .

[2017-03-20 21:57] TVolden commented on #16
Oh okay, how strange. Let's get to the bottom of this.

So you have a server that is tested with the compliance tool running, and you are trying to connect with the lib as a client. Correct?
- Then the connection is closed, can you determine from which end?

[2017-03-20 22:14] foluswen commented on #16
I have solved it, root cause is websocket draft need set to draft_13.

Folus Wen

Best Regards

*溫盛夫* *Folus Wen*
*Mobile Phone*：+886-928-455198
*e-Mail*：folus.wen@gmail.com

2017-03-21 5:57 GMT+08:00 Thomas Volden <notifications@github.com>:

[2017-03-21 20:16] TVolden commented on #16
Hi again,

I can't see that the websocket library that I use can be set to draft_13, only: Draft 10, 17, 75 and 76.

I have investigated it, and you are absolutely correct. The websocket version that the specification refers to is draft_13:
https://tools.ietf.org/html/rfc6455#section-11.6

I will probaly have to look for a new library.

Thank you so much for your feedback, it really means a lot to

[2017-03-21 20:40] TVolden commented on #16
Good news, I may not have to change the lib I use anyway.
http://stackoverflow.com/questions/21035326/what-draft-does-java-websockets-websocketserver-use

Looks like draft_17 is used for version 13 support.

Did you have any success testing the library?

[2017-03-29 17:28] TVolden commented on #16
I'm considering this resolved. If you're​ still experiencing problems, then please don't hesitate to open a new issue.

Thanks again for your input.

[2017-03-29 17:28] #16 closed

[2017-05-08 19:36] TVolden commented on #2
The SOAP client/server should be fully functioning now.
I will create a release, update the guide now.

[2017-05-08 20:28] TVolden commented on #2
Done

[2017-05-08 20:28] #2 closed

[2017-05-19 13:34] foluswen opened #17 "SOAP Message element order is different with OCA OCPP_CentralSystemService_1.6.wsdl"
Hello

     I use your library to test with OCA testing tools face some issue and share to you.

     SOAP message element order doesn't same as OCPP_CentralSystemService_1.6.wsdl

     We must set element order in model file

     for example:
`@XmlRootElement
@XmlType(propOrder = { "connectorId", "status", "errorCode", "info", "timestamp", "vendorId", "vendorErrorCode"})

public class StatusNoti

[2017-05-19 18:25] TVolden commented on #17
Hi there,

Thanks for your input, I'll investigate it right away.

[2017-05-19 19:09] TVolden commented on #17
98ecf32a564eef20aacf4a0da5d9634fe7d49be9 Added a fix that should solve it.

[2017-05-20 09:11] foluswen commented on #17
package-info.java also have some issue, namespace should equal "urn://Ocpp/Cs/2015/10/"

`@XmlSchema(namespace = "urn://Ocpp/Cp/2015/10", elementFormDefault = javax.xml.bind.annotation.XmlNsForm.QUALIFIED)
package eu.chargetime.ocpp.model.core;`

[2017-05-20 09:22] foluswen commented on #17
Besides , data model about comfirmation doesn't match wsdl describe

Code shoulde fix as bolow (example):

wdsl description is `<s:element name="bootNotificationResponse" type="tns:BootNotificationResponse"/>`

`@XmlRootElement(name ="bootNotificationResponse")`
`@XmlType(propOrder = { "status", "currentTime", "interval"})`
`public class BootNotificationConfirmation implements Confirmation`

[2017-05-20 09:24] TVolden commented on #17
So it has to say /Cs/ instead of /Cp/ ?

[2017-05-20 09:28] foluswen commented on #17
yes

original code is `urn://Ocpp/Cp/2015/10`

correct should `urn://Ocpp/Cs/2015/10/`

[2017-05-20 09:31] TVolden commented on #17
Okay, thanks. I'll look into it later today.

[2017-05-20 18:38] TVolden commented on #17
Okay, I added the specific names for the confirmation classes and changed the namespace. d7577fc7f7397eae99d0f2f7a6c1c345ba03a109
Please check if that has solved the issue

[2017-05-21 10:19] foluswen commented on #17
Thank you.

[2017-05-21 10:19] #17 closed

[2017-05-24 08:04] foluswen opened #19 "SOAPSyncHelper.java issue"
I test some profile send from server to chargerbox by OCA testing tooling, chargerbox occur cannot reply message to server.

There maybe is a bug in SOAPSyncHelper.java, because of call forwardMessage() too early and cause 'uniqueID' does not put into 'promises'.

I move forwardMessage() to last section, and solve the issue.

`public CompletableFuture<SOAPMessage> relay(SOAPMessage message) {`
`

[2017-05-24 08:39] TVolden commented on #19
Hi,

I really appreciate all your valuable feedback.
I'll look into it.

[2017-05-24 19:00] TVolden commented on #19
b6b55dadb1472b8f3523472ac98f2ee4ec682c96
I have moved the call as you suggested, tests passes (ignore the unstable integration test :P ) please check if it works.

[2017-05-25 03:52] foluswen commented on #19
OK thank you

[2017-05-25 03:52] #19 closed

[2017-05-26 12:05] Staskkk opened #20 "Unit tests localisation problem"
Hello,
Some unit tests (with double values, сomma instead of dot) for v1.6 failed, if your locale is not English.

[2017-05-26 14:19] TVolden commented on #20
Hi,

Thanks for your feedback. I would like to help you, but how can I reproduce the problem? Can you provide some examples?

- Thomas

[2017-06-01 16:56] goRaspy opened #21 "Quick start guide"
Hi,
Your project and your approach seems very interesting ( http://www.chargetime.eu/ ).
A lot of things seems functional and I am very interested to try what is existing and try to communicate with a  (real) JSON 1.6 charging station.

I tried to compile the project with MAVEN (without success) and I do not really understand how begin. Could you detail a little bit this point ?

Regards

[2017-06-01 17:32] TVolden commented on #21
Hi there

Thank you for the kind words.

I would love to compose a get started guide, maybe you can join us on gitter (link in readme) and we can make one together. That would be cool. :-)

- Thomas

[2017-06-01 17:35] TVolden commented on #20
I think I found the tests you mentioned. I'll have a fix for it with next commitment.

[2017-06-02 07:43] goRaspy commented on #21
Thats seems a very good idea !
I will join gitter right now :)

[2017-06-02 17:45] goRaspy commented on #20
I just suceed to compile with mavem and set my locale to english. Tks :)

For now, I do not know what to do. I have a manifest error when I try to run jar targets.

[2017-06-03 05:03] TVolden commented on #20
Interesting. How did you set locale to English?

Could you elaborate on the error you get? What did you try, please include examples so I can try it too. Also I would appreciate any error output.

Thanks

[2017-06-03 07:40] goRaspy commented on #20
I was on windows. And I changed the locale by control panel (https://www.java.com/en/download/help/locale.xml ).

I did not saved logs before locale change. I will do it again this afternoon.

Concerning my error. After compiling I tried to run all generated jar file (v1_6-test-0.3.jar ; v1_6-0.3-javadoc.jar; common-0.3-javadoc.jar ; common-0.3.jar ; v1_6-0.3-sources.jar ; v1_6-0.3.jar : common-0.

[2017-06-03 12:44] goRaspy commented on #20
[logsMAVEM.txt](https://github.com/ChargeTimeEU/Java-OCA-OCPP/files/1049598/logsMAVEM.txt)

Attached filed is logs for mavem with "not english" locale

[2017-06-03 12:49] TVolden commented on #20
Ah okay, now I get it. You can't really run it out of the box. It's a library so it actually doesn't have a main() method.

I can help you build a little program to run with. You can also try to play around with the example code, which I have attached.

[2017-06-03 15:39] goRaspy commented on #20
Ok I understand,

Where can I find the example please ? I would love an example to run a JSON 1.6 endpoint like CPMS.

[2017-06-03 16:05] TVolden commented on #20
There is an example for server and one for client:
Server:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/master/ocpp-v1_6-example/src/main/core_features/JSONServerSample.java

Client:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/master/ocpp-v1_6-example/src/main/core_features/JSONClientSample.java

[2017-06-04 10:55] goRaspy commented on #20
I tried without sucess to build a main for examples :(

I am not experimented at java. Any help welcome.

[2017-06-04 20:08] TVolden commented on #20
I can write a quick client program to send commands, would that help?

I hope you understand, that you would have to write allot of java code to build a full blown client or server on this library.

[2017-06-06 07:29] TVolden commented on #20
@Staskkk
This hotfix should fix the issue: a7fbb56ea4fb67892098b1b3ecbc001665a751fc
Tested on a danish machine. Please verify and close.

[2017-06-07 13:59] goRaspy commented on #20
Concerning the quick client, it should be very helpful.

My objective is not to build a complete CPMS but triing to interface (market) charging station with PV central using OCPP 1.6 charging profile.

[2017-06-10 09:50] TVolden commented on #20
I'll create a small program for it. But that's off topic, this issue is solved.

[2017-06-10 09:50] #20 closed

[2017-06-26 08:17] rainIand commented on #21
Hi! I'm working on a project with EV charging stations and stumbled upon this protocol. Have you made any progress on the starting guide? My coding knowledge is mainly in C and all this doesn't really make sense to me. Thus, any help in getting started would be much appreciated!

[2017-06-26 10:57] TVolden commented on #21
Hi Rainland,

That is nice to hear. I haven't made any progress on the start guide yet.
I have written something down in the wiki page for this project:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/wiki/Getting-started

I would love to make a more friendly start guide. As I suggested earlier, I would propose that I help in the chat and then extend the start guide with the new knowledge I gain.

I

[2017-07-23 06:52] Dharam625 opened #23 "Running basic client server class"
Hi,

I have just started exploring this code. I want to run client server classes. However as they don't have main method I am unable to run. I am not sure what is the starting point. All I want to do is I want to establish connection between client and server.

Any help or hint would be big help.

[2017-07-23 19:52] TVolden commented on #23
Hi there,

Thank you for reaching out. It's always nice to hear from people using the code. :)
The goal for this project is to create a library that can easily be adopted by equipment and operators. I'm leaving the application scope for them to implement (the way they see fit). This is the reason you won't find any main().

This means that if you would like to use the code, then you would have to

[2017-07-23 22:03] TVolden commented on #23
I have whipped my experimental application together, so you can have a look:
https://github.com/ChargeTimeEU/ChargeTime-HQ

Please remember it still needs allot of work.

[2017-07-23 22:03] #23 closed

[2017-07-23 22:04] TVolden commented on #21
I have pushed an experimental application, so you can setup a server:
https://github.com/ChargeTimeEU/ChargeTime-HQ

[2017-07-23 22:05] goRaspy commented on #23
♥️

[2017-07-24 10:34] Dharam625 commented on #23
Thank you so much for quick reply. I will play around.

[2017-07-30 06:38] Dharam625 commented on #21
I could setup the server up and running by using https://github.com/ChargeTimeEU/ChargeTime-HQ.

**Then i tried sending some request using below client. But I get null after running this inside code client.send(request).whenComplete((s, ex) -> System.out.println(s) );**

Could you please help.

package eu.chargetime.hq.gui;

import eu.chargetime.ocpp.Client;
import eu.chargetime.ocpp.JSONClient;
i

[2017-07-30 07:17] TVolden commented on #21
Hi @Dharam625,

Can I get you to open a separate issue on this? It's just easier to handle that way.
Also, do you have a stack trace I can analyze?

My first though is, have you called connect() before you call sendBootNotification() ?

[2017-07-30 08:55] Dharam625 commented on #21
@TVolden Yes I did call connect() before sendBootNotification(). I dont mind opening a separate issue. You can have a look on main function above to see series of functions I had called.

[2017-08-01 06:36] TVolden commented on #21
Hi @Dharam625,

Sorry for the slow reply.

It must be because the server sends a not supported error. If you modify the Charger one HQ to return a BootNotificationConfirmation, then you should see results.

[2017-08-01 09:52] Dharam625 commented on #21
@TVolden thanks :) I got it working.  I am trying to mock the centralized system to see the basic functionality. Any hint on this ? Or some part of the code which i can refer ?

[2017-08-11 06:47] BenSoHongKong commented on #21
Hi everyone and authors :-D, I am digging on OCPP and happened to see this valuable resources. Saying hi and hope we can share and have fun here! - Ben From Hong Kong.

[2017-09-05 07:44] JoJoBaer opened #24 "Exception handling"
Hi,
I have implemented a central system service, but can't figure out how I should handle Exceptions that make it impossible to fulfil the request. When a runtime exception is thrown in my ServerCoreProfile, it does not send a response (I am using the SOAP server).

[2017-09-05 13:29] TVolden commented on #24
Hi,

Thanks for your feedback.
Let's see if I understand your problem correctly.
You get a request and try to handle it.
Something goes wrong in your implementation of ServerCoreProfile and you throw an Exception.
Am I correct so far?

The exception isn't caught by the lib, so the client doesn't get a response. The request can't be recovered, so it's technically lost in limbo.

Am I correct in ass

[2017-09-05 20:21] JoJoBaer commented on #24
Yes that's correct, I want to send an error response to the client.

[2017-09-05 20:46] TVolden commented on #24
Okay, I have examined the code again, to refresh my memory.
If you throw an Exception, this should be picked up by the SimpleRequestDispatcher class:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/d48dc5fc1d0d6ac9fd4b00c197e21492b3a69597/ocpp-common/src/main/java/eu/chargetime/ocpp/RequestDispatcher.java#L72-L75

The CompletableFuture should completeExceptionally, which should be picked up by

[2017-09-06 21:18] TVolden commented on #24
Daily update

I have managed to provoke the error through test. It looks like the problem is only present for SOAP.
I'm looking into a solution.

[2017-09-07 20:42] TVolden commented on #24
Okay. I have located the problem and applied a fix. Please try again with the new version.
Please close the issue, if this fix resolved the problem.

Thanks again. :)

[2017-09-09 07:24] JoJoBaer commented on #24
That solved the problem, thanks!

[2017-09-09 07:25] #24 closed

[2017-11-14 23:47] sumlin opened #25 "NPE during offline mode"
java.lang.NullPointerException
at eu.chargetime.ocpp.Client$1.handleError(Client.java:98)
at eu.chargetime.ocpp.Session$CommunicatorEventHandler.onError(Session.java:178)
at eu.chargetime.ocpp.Communicator.sendCall(Communicator.java:169)
at eu.chargetime.ocpp.Session.sendRequest(Session.java:77)
at eu.chargetime.ocpp.Client.send(Client.java:146)

Client.send()
String id = session.sendRequest(featu

[2017-11-15 20:54] TVolden commented on #25
Hi,

I appreciate the work you put into finding and explaining this bug.

I agree that your solution would work, but it could turn the bug into a race condition. I have to study the code a little bit, but I think the problem is that Session.sendRequest actually does more than just "send request"... If i create one method to store a request and one to send a request, then I could play it safe in Cl

[2017-11-15 21:24] TVolden commented on #25
Added a fix, please check if that fixed the issue.

[2017-12-07 21:26] svj13 commented on #21
Hello

I am new to OCPP, and I've been struggling to find existing implementations that are easy to set up and build. I am not new to programming, but I have been finding a lot of difficulty setting any of these programs up :(

Are you able to help me out with getting this project running?

[2017-12-09 06:54] TVolden commented on #21
Hi Sarah,

I'll do my best to assist. Have you looked at the start guide in the wiki?

I have set up a gitter for the project, it's easier to help there. https://gitter.im/ChargeTimeEU/Java-OCA-OCPP

[2017-12-14 07:24] TVolden commented on #25
Have you had a chance to test it?

[2018-02-15 11:20] lahnaoja opened #29 "Ocpp1.6 soap request to central system"
Hi one and all,

After a small testing with a mock-up soap (xml) request (from pole to CentralSystem) I noticed that I’m not quite sure what’s the correct form of an Ocpp1.6 soap request. Especially how the soap headers and namespaces should be set. I think that the request below is close the right form, but, do you have any comments?

Of course it could be also so that implementations in the pole

[2018-02-15 18:24] TVolden commented on #29
Hi Antti,

Thanks for your feedback and PR. I'll probably won't have time to look into it before tomorrow. I have had some issues with the soap namespace especially because I have to change it based on wether it's a client or server call. It caused me some trouble back then, so I wouldn't be surprised if I got it wrong.

Thomas

[2018-02-16 05:32] lahnaoja commented on #29
Hi Thomas,
Thanks for the feedback, I guess it would be useful for the specification to have example request/responses...
B.r. Antti

[2018-02-16 06:31] TVolden commented on #29
OCA has a test tool, which tests this. I have made changes to the soap namespace based on this tool:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/issues/17

[2018-02-16 08:00] TVolden commented on #29
Did I totally get you wrong? Did you mean the prefix ns for the elements?

[2018-02-16 09:32] lahnaoja commented on #29
There has been some namespace prefix in the examples I have seen. So it could be "ns" (for responses). This prefix depends on how the namespace has been defined with xmlns in the xml, so I quess it depends on the implementation.
I think that in practice when receiving requests it's just enough to get the value of element regardless of namespace, as there hardly is any overlapping names in the ocpp

[2018-02-16 10:30] TVolden commented on #29
If there is no overlap, then it shouldn't make a difference if the elements are prefixed with namespaces or not. If your charge equipment is complaining, then we'll add it in the lib, no problem.
The PR is pending, since there is a unit test failing (it's probably a dumb unit test that string compares the xml output, so I don't mind if you remove the test to fix the problem). Once everything build

[2018-02-16 11:35] lahnaoja commented on #29
Hmmm. After a closer look and little more fix both, with prefix and without (default namespace), are now fine, and also the authorize request above goes through. PR modified. Should be fine now from functionality perspective?
In the PR there is also fix to get the pole's ocpp server address from soap header.

I could take a look to tests in case this otherwise looks fine.

Without the fix in the P

[2018-02-16 11:47] TVolden commented on #29
It's wierd how I forgot to add the SOAP header information in e0a56cd83f7abbe01bd311e7c239c3697e8299b4 shame on me.

[2018-02-20 11:41] lahnaoja commented on #29
Unit test should be fine now.

[2018-02-20 20:11] TVolden commented on #29
I accepted it, please close the issue when you have tested it.

[2018-02-21 08:46] lahnaoja commented on #29
Ok, thanks.

[2018-02-21 08:46] #29 closed

[2018-02-21 10:32] lahnaoja opened #31 "Ocpp1.6 soap header in response message"
Seems that the response message from central system has some mix-up with namespaces in the soap header
[code]
In the urn there should be “Cs” as central system instead of “Cp” of charge pole. I could make a fix PR.

B.r. Antti

[2018-02-21 12:04] lahnaoja commented on #31
Ok, thanks

[2018-02-21 12:04] #31 closed

[2018-02-21 20:43] TVolden commented on #25
OK. I'm closing the issue and consider it resolved. Please make a new issue if this is not the case.

[2018-02-21 20:43] #25 closed

[2018-03-13 07:46] sumlin opened #34 "Basic stuff doesn't work"
There is a diff with a testing code: https://pastebin.com/JSggtLXY

For JSON please set isJson = true in both client and server runners.
For SOAP isJson = false.

JSON: can't connect to the server, have an error:
10:43:07.753 [Thread-2] DEBUG eu.chargetime.ocpp.WebSocketTransmitter - WebSocketClient.onClose: code = 1002, message = Invalid status code received: 404 Status line: HTTP/1.1 404 WebSock

[2018-03-13 08:02] sumlin commented on #34
https://github.com/ChargeTimeEU/Java-OCA-OCPP/tree/revert-33-master helps with connection, but when I send boot and then auth requests, client gets null as a boot response and nothing as a auth response.

[2018-03-13 08:37] sumlin commented on #34
My mistake, JSON works pretty fine, but the problem with SOAP is still there

[2018-04-03 08:53] V2G-UK opened #36 "Problem running tests in Eclipse Oxygen.3"
Hello,

For historical reasons my favourite IDE is Eclipse. Having just tried to run your code in a fresh install of the latest version (Oxygen.3) ocpp-v1_6-test gives the following two errors:

[code]
Do you have any suggestions?

Jim

[2018-04-03 09:49] TVolden commented on #36
Hi Jim,

Thanks for your feedback.

I personally prefer intelliJ, but that's the charme og open source, everyone is free to choose their IDE. 😀

I have imported the project some times recently, but haven't seen that error. Google showed some potential leads, I'll look into them later.

Maybe you can work around the problem by altering the pom file? It's "only" the test library.

- Thomas

[2018-04-03 10:04] V2G-UK commented on #36
Thanks for the swift response Thomas,

It would certainly seem to be merely an IDE problem. I cloned your repo onto our trusty Raspberry Pi and used maven from the command line. Everything seemed to build OK and Groovy tests were run. There were several SOAP failures though. Is that what you would expect?

Jim

[2018-04-03 10:17] TVolden commented on #36
The Soap tests fail on the CI system aswell, I haven't tracked down the issue, but suspect it has something to do with the JVM.

- Thomas

[2018-04-03 10:31] V2G-UK commented on #36
OK - Thanks again for the swift feedback.

Just in case it's relevant our Pi is currently using the Azul Zulu Java 8 Embedded JVM

Jim

[2018-04-04 09:29] morclin commented on #21
Hi everyone,
Great, thanks first.
I am trying to test the communication Client-Server.(using both simulations)
I still get the same problem as described above, it seems because the server sends a not supported error. how should the ChargeTime HQ be modified to return a BootNotificationConfirmation.

[2018-04-04 11:15] TVolden commented on #21
Hi Morclin,

It's been some time since I looked at HQ. I'll read up on it later, and get back to you.

Thomas

[2018-04-04 11:34] morclin commented on #21
Hi Thomas,
thanks for the quick reply, I appreciate it.

[2018-04-04 18:49] TVolden commented on #21
Hi Morclin,

I never got far with the code, but you should be able to intercept requests if you look in:
https://github.com/ChargeTimeEU/ChargeTime-HQ/blob/master/ocpp/src/main/java/eu/chargetime/hq/ocpp/handlers/CoreEventHandler.java

It's pretty much the same as my example file, except I have some adapters (which I forgot the logic behind).

[2018-04-04 19:01] TVolden commented on #36
I just tried upgrading it to 1.6 and change the goals... Funny thing, it fixed my integration tests. 😄
Did it change anything for you?

[2018-04-05 14:53] victormunoz opened #37 "Testing with Steve"
I am trying to use this project as a chargepoint simulator to make tests with a central system that is running with Steve, now that it supports OCPP 1.6 (https://github.com/RWTH-i5-IDSG/steve).
But I haven't succeded on receiving any message in the Steve central system, neither using SOAP nor JSON types.

I have created a very basic main app that simply starts a chargepoint:

[code]
And in the con

[2018-04-05 15:28] TVolden commented on #37
Hi Victormunoz,

Now that sounds like an interesting project.

It may have no effect, but I can see you assign a client name to the json client, but also have it included in the url.
Have you tried to debug it step by step to see if it connects? Maybe add some useful output in the event methods?

[2018-04-05 15:42] goekay commented on #37
related issue in our project: https://github.com/RWTH-i5-IDSG/steve/issues/53

i also looked at this issue. there are two problems:
- if you init the client as in ` new JSONClient(core, "testdummy")`, then the impl will append `testdummy` to the url that you specify. therefore, the connection attempt will be made to ` ws://192.168.1.7:9220/steve/websocket/CentralSystemService/testdummy/testdummy`.

[2018-04-05 15:53] TVolden commented on #37
Now that's a bug. Let me check.

[2018-04-05 17:36] goekay commented on #37
_i think_, the problem lies in the [OcppDraft](https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/master/ocpp-v1_6/src/main/java/eu/chargetime/ocpp/OcppDraft.java).

first of all, the methods `postProcessHandshakeRequestAsClient` and `postProcessHandshakeResponseAsServer` call themselves and create an infinite recursion. i guess, you want to call the super method, but the `super.` prefix is missin

[2018-04-05 20:06] V2G-UK commented on #36
Changing the goals suddenly removed all the SOAP errors, because those tests aren't being run anymore! Have you tried doing a "mvn install" though?

Have you stopped supporting SOAP in recent versions, and those tests are only there for "historical" reasons?

Jim

[2018-04-05 20:15] TVolden commented on #36
Well damn. Your right. I was in too much of a rush to notice. 🙁

It's all the integration tests, not just SOAP. I still support SOAP and will continue to do so in version 1.6

[2018-04-05 20:38] TVolden commented on #36
Ran a `mvn install` without problems... Apparently I needed to run `mvn clean install`

[2018-04-05 21:12] V2G-UK commented on #36
It's nearly my bed time, and certainly time for a nightcap! However at first sight `mvn clean install` does indeed do the trick.

[2018-04-07 14:30] V2G-UK commented on #37
Not that I have anything to add re the "bug" at the moment, but SteVe does indeed look like an interesting project since apparently it supports OCPP 1.6J.

It was searching for an open source 1.6J "server" that led me here in the first place.

[2018-04-07 17:11] TVolden commented on #37
@V2G-UK your not the only one.

[2018-04-07 21:32] TVolden commented on #37
I have reintroduced the Sec-Websocket-Protocol part. Please check if it works.

[2018-04-08 12:41] V2G-UK commented on #37
After some more Eclipse fun & games I have managed to achieve the following, which I guess counts as "it works"?
![selection_999 435](https://user-images.githubusercontent.com/32430479/38467576-8b6b4ea4-3b32-11e8-9bed-1791c33a6c9e.png)

[2018-04-08 12:54] goekay commented on #37
yes, the received heartbeat and the fact that there is one ocpp 1.6j charging station that is connected to steve are indicators that it is working.

[2018-04-09 09:35] morclin commented on #21
Hi Thomas,
thanks :) i am working on it.

[2018-04-11 15:19] victormunoz commented on #37
I have tested the updated code.
It now works correctly, but only if the chargebox id has been previously added manually with steve.
This behavior is different from a real chargebox (at least from the one that I have), because when I restart the chargebox, steve receives its Boot Notification even if it is not present in the database.

[2018-04-11 15:39] goekay commented on #37
the behaviour is correct. i fail to see where the problem is.
- steve can do nothing about whether charging stations should send a BootNotification message or not. it is the internal impl of the charging station. steve can only _react_ to a BootNotification.
- steve is restrictive _by design_ and does not accept messages of charging stations, whose ids are _not_ entered to db (by "add new").
- ste

[2018-04-11 16:30] victormunoz commented on #37
I should explain me better.
I have made modified the steve source code, so that when a BootNotification is received, the chargebox is automatically added to the database (a kind of plug-n-play). I have modified the function CentralSystemService16_Service/bootNotification.
This works fine with real chargeboxes. They send the Boot Notification on startup, steve receives it, my code is the executed a

[2018-04-11 16:44] goekay commented on #37
are you using the ChargePoint in JSON mode?

[2018-04-11 16:50] victormunoz commented on #37
Yes.
Actually it gives me an exception with SOAP:
Exception in thread "Thread-4" Exception in thread "Thread-5" Exception in thread "Thread-6" Exception in thread "Thread-7" java.lang.NullPointerException
	at eu.chargetime.ocpp.SOAPCommunicator$SOAPParser.<init>(SOAPCommunicator.java:250)
	at eu.chargetime.ocpp.SOAPCommunicator.parse(SOAPCommunicator.java:234)
	at eu.chargetime.ocpp.Communicator$E

[2018-04-11 16:56] goekay commented on #37
i cannot explain the exception with SOAP, @TVolden should look into it.

in case of JSON, as I have said "steve can only accept or reject WebSocket connection attempts based on their id being in the database or not". the phrasing of this sentence was deliberate and not a mistake. the decision to accept a WebSocket connection attempt happens somewhere else in the code, [here](https://github.com/RWT

[2018-04-11 17:08] V2G-UK commented on #37
Victor,

SteVe works fine for me when using WS/JSON as described by Sevket.

If you modify SteVe then you're on your own! Unless Sevket graciously offers to help of course?

Jim

[2018-04-11 17:17] victormunoz commented on #37
Thank you very much @goekay
I certainly did not get the point in your sentence about the websocket. Now everything makes sense and it is working like a charm.
I am going to close this issue.

Regarding the exception with SOAP, I will investigate further before raising a new issue.
Thanks again!

[2018-04-11 17:17] #37 closed

[2018-04-20 20:31] malay18-mkp opened #57 "Could you please help with Java libraries for OCPP2.0"

[2018-04-21 06:42] TVolden commented on #57
Hi @malay18-mkp

Thanks for you request. I think it's a great idea. Once 1.6 is done (all the PR) are acceptrd, I'll start preparing for 2.0

[2018-04-22 13:27] TVolden commented on #7
This was added with #56

[2018-04-22 13:27] #7 closed

[2018-05-07 07:51] alexm77 opened #60 "Build this on top of javax.websocket-api"
Building on top of the standard API for WebSockets in java would be safer and more flexible. It complicates the deployment a bit, because of the need to supply the implementation classes, but overall it should be a better solution.

[2018-05-07 08:55] TVolden commented on #60
Hi @alexm77

Thanks for your request. I'll look into it. I'm thinking about exporting soe of the 3rd party dependencies into their own modules, so it's easier to mix and match.

I have allot to see to these next days but hopefully I have something to report by the end of the week.

Thomas

[2018-05-07 09:06] alexm77 commented on #60
All that's needed is [https://mvnrepository.com/artifact/javax.websocket/javax.websocket-api/1.1](url)
And then we can add tyrus and whatnot at runtime. I will look into it, but I can't promise I can scrape the time to put a pull request together.

[2018-05-11 10:37] sumlin opened #61 "Offline behavior"
It seems message recovery doesn't work. Try this one, please, but I'm not sure I think as well as you:
1) Connect to a server.
2) Send BootNotificatonRequest. It might be done with handlerBootNotificationResponse.
3) Send StartTransactionRequest. It might be done with handlerStartNotificationResponse.
4) Disconnect.
5) Send AuthorizationRequest. It might be failed with NotConnectedException on han

[2018-05-11 21:35] TVolden commented on #61
I found a bug that caused the websocket to stay open when I killed the session on the server. I fixed that, and created a feature test, to test the feature you set up here.
I'm not sure if this fixes your issue, since the bug was only for simulated purposes. But please check it out.

[2018-05-12 05:43] sumlin commented on #61
Have you tried to do it with SOAP protocol? But sure, I'll check this out.

[2018-05-12 07:33] TVolden commented on #61
I can do it with the SOAP protocol sure. 😃

[2018-05-13 20:33] TVolden commented on #60
Hi again,

I'm sorry to say, I haven't had much of a chance to play around with it. I found some examples I would like to go with, but it would require changes to the exposed API. I'd like to have a 0.5 release with the current websocket lib, before I change too much. I'm considering making a 0.5 release branch.

Examples for later: https://stackoverflow.com/questions/26452903/javax-websocket-clie

[2018-05-14 08:06] alexm77 commented on #60
Yes, I've spent some time on it and I have seen there's a lot to change.
It's pretty easy to work with javax-websocket, but it's a bit different
from what the current library does.

On Sun, May 13, 2018 at 11:33 PM, Thomas Volden <notifications@github.com>
wrote:

[2018-05-29 03:27] ghamkhari opened #62 "Command to simulate a Charge Point"
I want to simulate a Charge Point with Java-OCA-OCPP that can receive and respond to JSON messages that are sent over websocket. I have successfully built the libraries inside Java-OCA-OCPP by `mvn package` command. Now, what command should I use to simulate a Charge Point?

[2018-05-29 05:53] TVolden commented on #62
Hi Mahdi,

You will have to do some programming in order to have a client. There isn't a out of the box application.

Take a look at the example code, to see how to implement a client:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/master/ocpp-v1_6-example/src/main/core_features/JSONClientSample.java

I have started a client simulator project, but at the moment it can only connect:
https://git

[2018-06-01 07:46] longtailcat commented on #57
I want to.

[2018-06-01 07:51] longtailcat commented on #57
I'm studing OCPP2.0 right now

[2018-06-05 09:45] spyros87 opened #63 "Why PropertyConstraintException must be a checked Exception?"
Hello there,

I would like to ask you what is the reasoning for having the `PropertyConstraintException` to be a *checked* Exception. It's more similar to default Java `IllegalArgumentException` which is unchecked and it does not require special constructs to handle them.

Thank you in advance

[2018-06-05 13:19] TVolden commented on #63
Hi Spyros

Thanks for your request. I haven't given it much thought, so there is no reason really.

I can change it, but I think you should make a PR with the change, so you get the credit. What do you say? 🙂

Thanks again

Thomas

[2018-06-08 10:06] abankeszi commented on #61
Hey @TVolden!

I have some other problems regarding offline behavior, thought I would share them in this issue.

**TLDR:** I suggest to just throw the NotConnected back to the user and let them handle the queue themselves.

---

**- The transaction queue is not persistent**
Charge Points **may** run for days without connection and **could** be reset or turned off before a connection is re-estabili

[2018-06-08 11:21] TVolden commented on #61
Hi @abankeszi,

You make a fair point.

I had to objectives with the lib:
1. Make it easy to get OCPP compliant.
2. Possible to change the inner workings of the lib.

I'm not quite there with the second objective, since the components have grown to handle to much stuff. But it is possible to introduce custom handling by implementing a custom communicator and wrap it around the librarys. By this ap

[2018-06-08 13:29] abankeszi commented on #61
That's basically why I didn't want to fork the lib in the first place but ended up doing so. I'll see if and how I can move my solution into the core library code after I'm done with my upcoming deadline.

Adam

[2018-06-16 21:22] Cinazu opened #64 "DiagnosticsStatusNotification and FirmwareStatusNotification Requests currently assumed as Central System initiated, should be CP initiated"
For Profile Firmware Management the messages DiagnosticsStatusNotification.req and FirmwareStatusNotification.req are currently assumed as initiated by the Central System instead of the Charge Point.

[2018-06-18 12:03] TVolden commented on #64
Thanks for your issue.

I'll get a chance to look at it tomorrow. Hope that's okay.

Thomas

[2018-06-19 07:54] spyros87 commented on #63
The PR is merged therefore I close the issue.

[2018-06-19 07:54] #63 closed

[2018-06-19 07:56] TVolden commented on #63
Thanks for your help. I appreciate it.

[2018-06-19 08:07] TVolden commented on #62
I'm closing this issue, since it's not the intention of this library to implement an app.
I'd love to see projects that uses my lib to create a full central system or client.

Who knows, maybe I'll get time to continue my own application projects at one point:
https://github.com/ChargeTimeEU/ChargeTime-HQ
https://github.com/ChargeTimeEU/ChargePointSimulator

[2018-06-19 08:07] #62 closed

[2018-06-19 09:34] TVolden commented on #64
I committed a change that should fix this, please verify and close the issue if this fixed it.
Thanks again.

The SNAPSHOT is uploaded to maven central repo

[2018-06-21 08:25] #64 closed, assigned to Cinazu

[2018-06-21 08:28] Cinazu opened #66 "implement createRequest methods for DiagnosticsStatusNotification and FirmwareStatusNotification in the FirmwareManagement Profile"

[2018-06-25 14:03] nilpotence commented on #61
hi @abankeszi @TVolden

Any news on this issue ? I'm having the same issues as described by @abankeszi for message queuing when the ChargePoint is offline (transactionId issue, queue and StatusNotification persistence) and I'm considering my options.
@abankeszi : did you end up implementing a custom communicator / custom client as suggested by @TVolden ? if so, do you plan on merging this back int

[2018-06-25 19:56] TVolden commented on #61
hi @nilpotence

Yeah sure, can wait to see the result.

[2018-06-26 07:46] abankeszi commented on #61
Hi @nilpotence,

No, I've simply disabled the transaction queueing and let the NotConnected errors go back to the caller (via CallErrorException) as you can see in [[this commit]](https://github.com/abankeszi/Java-OCA-OCPP/commit/e16dfe93a10887a0b41dc598de207a91cb0682d5) in my fork. Then I just checked the CallErrorException on the caller-side if it's a NotConnected error, and saved the original r

[2018-06-26 09:33] dersteve commented on #60
@alexm77 Are you still interested in doing some work on this issue? I would like to use this library together with Spring and Tomcat (as a Server application where chargepoints connect to) and it seems with some modularisation and swapping out the underlying web-socket implementation with javax.websocket we could reach this step together.

[2018-06-26 09:42] alexm77 commented on #60
I've looked into this and it's just too much work. You need to almost
rewrite the entire thing for it to work like the JSR does.
That said, it's not a herculean task or anything, it can probably be done
in a couple of weeks. It's just that I'm not sure I have that much time to
spare.

On Tue, Jun 26, 2018 at 12:33 PM, Steve Behrendt <notifications@github.com>
wrote:

[2018-06-29 08:45] TVolden commented on #66
@Cinazu please review the fix by @rtzll and close the issue if your satisfied 😃

[2018-06-29 17:56] #66 closed

[2018-07-11 11:37] M1chaela opened #71 "ChargingProfile with RemoteStartTransactionRequest problem"
I'm trying to set chargingProfile on RemoteStartTransactionRequest, but it returns CallErrorException.  It works fine when sending the request without the chargingProFile.

This is the code for chargingProfile:

[code]
And the exception:
[code]

The message from Communicator.java:250
OccurenceConstraintViolation - Payload for Action is syntactically correct but at least one of the fields violates

[2018-07-12 06:57] M1chaela commented on #71
ok so I found out that the error is thrown when client uses an older version of the library. I'd have to check if we can update to the newest version.

[2018-07-12 07:08] TVolden commented on #71
Ah okay. Well at least it's tested now. I'll close the issue. 😀

[2018-07-12 07:08] #71 closed

[2018-07-18 11:29] JanLapp opened #72 "JSON DateTime parsing is too strict"
JSONCommunicator.CalendarDeserializer only accepts DateTime strings with time zone ID given as 'Z', however I couldn't find anything in the 1.6 specs that requires this (UTC is merely recommended according to §3.13). Parsing the string with ZonedDateTime#parse should be fine.

[2018-07-18 13:44] TVolden commented on #72
Hi @JanLapp

As far as I remember I locked the strict date format to solve a problem for someone. I can't really remember why.

Anyway, it's a good sugeestion. I think it should be changed right away... Unfortunately I'm on vacation, and don't have a computer handy, so can I get you to introduce the change as a PR?

Thomas

[2018-07-20 11:44] JanLapp commented on #72
I have since learned that Java 8 ZonedDateTime has a bug and does not accept some time zone formats either: https://bugs.openjdk.java.net/browse/JDK-8032051 (fixed in Java 9) :(
Closing this now.
Best regards

[2018-07-20 11:44] #72 closed

[2018-07-24 09:49] sashoran opened #74 "Wrong notification handleStartTransactionRequest at the end of the transaction"
I am testing OCA OCPP with charging station Schnider EVlink 	EVB1A22P4KI.
Currently I am working with OCA OCPP revision ad6905e5bff853d45bdc76dbe8f9f62d69e01a1a.
Most of the already implemented features work surprisingly well. Congrats from me!

I only noticed the following bug:
When I start transaction, the station begins charging. I am receiving "Charging" on handleStatusNotificationRequest hook

[2018-07-24 10:21] TVolden commented on #74
Hi Alexander,

Thanks for your feedback, it's nice to hear that so much works out of the box.

The first thing that comes to mind, is the mapping, but it seems correct:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/master/ocpp-v1_6/src/main/java/eu/chargetime/ocpp/feature/profile/ServerCoreProfile.java

What about the logs, what do they show?

[2018-07-24 10:34] TVolden commented on #74
The features have the correct action names assigned.

Everything checks out on my end. So unless you have some log outputs, I can't figure out what could go wrong.

[2018-07-24 10:38] sashoran commented on #74
Hi Tomas,
I was just looking at ServerCoreProfile.java
<https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/master/ocpp-v1_6/src/main/java/eu/chargetime/ocpp/feature/profile/ServerCoreProfile.java>
It looks correct to me. If you especially mentioned handleRequest.
Probably something in the request (parser) is wrong. Or just the CS sends a
wrong notification.
Currently I cannot see anything in its l

[2018-07-24 18:44] TVolden commented on #74
The parser uses the action-string to identify the class (I checked that in the feature profile). The event handler calls you based on which class was identified (I checked this mapping). My guess is that the CS sends a start transaction request or at least the action is set to "StartTransaction" (this should cause an exception).

[2018-07-25 11:06] sashoran commented on #74
Thank you Thomas,
Can you help me, where I can put a break point, to catch the transaction
before parsing?
I want to intercept the root transaction (JSON) and if something is wrong
there, I will have proof to ask Schnider to check their CS behavior.
I am going to hire a car again and to make another tests until the end of
this week.

I am becoming more confident that something is wrong in CS side.

[2018-07-25 12:54] TVolden commented on #74
Hi Alexander,

The best place to debug the raw message would be here:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/master/ocpp-common/src/main/java/eu/chargetime/ocpp/Communicator.java#L244

Thanks for your kind words. I must say that all the feedback and all the help I receive, really makes it worth the effort. 😃

Thomas

[2018-08-02 11:24] baisudhir opened #75 "Creation of a TestSetup"
Dear Thomas ,
Thanks for your great work.
I am new to JAVA and OCPP. I have gone through the readme.md file but not able to get enough information on how to run and create a test setup for client and server.Will you give some tips how to build and create a test setup for client and server.

Thanks and Regards,
Sudhir

[2018-08-02 16:09] TVolden commented on #75
Hi Sudhir,

The integration tests are basically a test setup, that passes messages from client to server and vice versa.
Please see:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/tree/master/ocpp-v1_6-test

You can run the integration tests with the maven command: `mvn integration-test`

Please note that this project is a library to help people implement their charge boxes and central systems. You

[2018-08-02 17:38] baisudhir commented on #75
Dear Thomas ,
Thanks for your valuable information.
I try to build "ocpp-common" and "ocpp-v1_6" module to generate jar but both build failed. A screenshot of the same is attached for your reference.
![build_error](https://user-images.githubusercontent.com/41739247/43600529-70131d90-96a8-11e8-8761-38d334d392b2.jpg)
Kindly guide me how to build these two module.It will be great help me to proceed t

[2018-08-02 17:41] TVolden commented on #75
Hi Sudhir,

From the screen shot you sent, I'd recommend that you go one folder up and type: `mvn install`

Thomas

[2018-08-02 18:39] baisudhir commented on #75
Dear Thomas ,
Thanks for your prompt response.I tried to build with command mvn install but getting the following error( given in screenshot) for common module.
![error1](https://user-images.githubusercontent.com/41739247/43603709-635f9890-96b1-11e8-90bc-689d5f3a2d19.jpg)
![error1-1](https://user-images.githubusercontent.com/41739247/43603710-63949496-96b1-11e8-8370-9a309b5c965d.jpg)

Thanks and R

[2018-08-02 18:45] TVolden commented on #75
Oh right, the Java docs fails... How strange, I'll have to check that. Anyway, it looks like compile and test passes, which should be good enough.

[2018-08-02 18:54] baisudhir commented on #75
Dear Thomas ,
when I skip Javadoc while building, (mvn -Dmaven.javadoc.skip=true verify) the common module is building but "ocpp-v1_6" module build is failed the error message is given below.
![error](https://user-images.githubusercontent.com/41739247/43604483-8251ed8c-96b3-11e8-8614-fa27b77c0071.jpg)

Thanks and Regards,
Sudhir

[2018-08-02 18:56] baisudhir commented on #75
Dear Thomas ,
which version JDK is required? I am using jdk-9.0.1 version.
Thanks and Regards,
Sudhir

[2018-08-02 18:58] TVolden commented on #75
Ah maybe that's it. It's written for 1.8

[2018-08-02 19:05] baisudhir commented on #75
Dear Thomas ,
Thanks,I will install 1.8 and inform you the result.
Thanks and Regards,
Sudhir

[2018-08-02 19:43] baisudhir commented on #75
Dear Thomas ,
Thanks for your support with jdk 1.8 it successfully builded .
Thanks and Regards,
Sudhir

[2018-08-02 19:48] TVolden commented on #75
That's wonderful news. 😃

[2018-08-09 19:13] #75 closed

[2018-08-23 07:54] sashoran commented on #74
Dear Thomas,
After a little research I found out that this issue is not a bug in the OCA OCPP framework.
You can close this issue as "not relevant".

About the messages start/stop charging:
They come from the car. Not even from CS.
For example: eUP sends start charging message but does not send stop message.
Renault does not send neither start nor stop charging.
That is it.

Thank you for the assi

[2018-08-23 14:01] TVolden commented on #74
Hi Alexander,

Okay, thanks for your feedback.

Sincerely,
Thomas Volden

[2018-08-23 14:01] #74 closed

[2018-09-12 14:59] dersteve opened #78 "SetChargingProfile results in FormationValidation Error"
I'm trying to send a **SetChargingProfile** Command to the station via the lib, but I'm getting a **FormationValidation Error** back. It might be the stations problem or me/the lib sending a wrong message/part of the message. Anyone else seeing a similar issue?

I'm testing with a eBee station.

### Message sent to the station:
[code]

### Response from the station:
[code]

[2018-09-13 03:05] lizhichao999 opened #79 "the example can not run ,the client send msg but the server cont not receiver msg"
the example can not run  ,the clint send msg but the server cont not receiver msg
for example:

the server:
 public static void main(String[] args) {
    	JSONServerSample jsonServer  = new JSONServerSample();
    	try {
			jsonServer.started();
			//jsonServer.sendClearCacheRequest();
		} catch (Exception e) {
			// TODO Auto-generated catch block
			e.printStackTrace();
		}

	}

the client:

[2018-09-13 05:47] TVolden commented on #79
Hi @lizhichao999

The sample server should print to console. If you don't see that, you should check your firewall.

[2018-09-13 10:40] TVolden commented on #78
Hi Steve,

I can try to check the message up against the OCPP specs. I know there's some rules to follow when it comes to the profile.

Thomas

[2018-09-13 11:45] dersteve commented on #78
I checked it yesterday and was certain that the message has the right format, but we also tried this morning with a eLuminocity station and we get the same error back from this station. I'm starting to think that the message is wrong that we send :-) Maybe there is something that I overlook all the time. If you can check the message that would certainly help

[2018-09-13 12:50] lizhichao999 commented on #79
@TVolden How to send messages on the server side and the client accept

[2018-09-13 13:43] TVolden commented on #79
Hi @lizhichao999

In the sample code I provide, you can call sendClearCacheRequest() to try a server to client request.
If you want the server/client to send other requests, you have to implement them yourself :)

    Hmm. I never thought about this, but my sample code, would not be able to communicate out of the box.
    It would be nice, if the client didn't return a not implemented error when t

[2018-09-13 15:32] froehr commented on #78
Hi, I'm a colleague of @dersteve and just found that the library is sending the attribute name 'chargingProfile' in the SetChargingProfile.req while the Ocpp 1.6. documentation seems to expect it to be 'csChargingProfiles'. I would guess this is causing the error while parsing the request. Can you confirm this @TVolden?

[2018-09-13 19:33] TVolden commented on #78
Hi @froehr

I think you are spot on the money! I can even see that the Xml parser is instructed to call it csChargingProfiles:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/master/ocpp-v1_6/src/main/java/eu/chargetime/ocpp/model/smartcharging/SetChargingProfileRequest.java#L90

Could it be as simple as to rename the field to getCsChargingProfiles/setCsChargingProfiles?

[2018-09-14 17:07] TVolden commented on #78
Cool. The PR is accepted, thanks for your help.

Please close the issue if it works. :)

[2018-09-20 14:55] #78 closed

[2018-09-24 07:26] AllRange1337 opened #81 "Missing ClearChargingProfileRequest"
It seems the "ClearChargingProfileRequest" Class is missing

[2018-09-25 18:39] TVolden commented on #81
Hi @AllRange1337

You're right, the smart charging feature is missing clear charging profile and set composite schedule.

I'll try to find some time in my schedule to look at it. But I'd also like to call out for a community hero, who would like to contribute.

Sincerely
Thomas

[2018-10-02 07:43] dersteve commented on #81
@AllRange1337 are you working on adding it?

[2018-10-18 14:18] froehr commented on #81
I guess clearing a charging profile is not implemented, yet. We will look into this during the next two weeks if nobody is actively working on it right now.

[2018-10-18 15:58] nickomalley1 commented on #81
I have had a look through the code and it looks like
ClearChargingProfileTask.java
GetChargingProfileTask.java
GetCompositeScheduleTask.java

have the basic  classes defined, but no further implementation has been added.
I would like to help padding this out but i'm not a professional developer,  If someone is ok to guide me I will do the work to add the code.

regards
Nick

[2018-10-19 09:08] froehr commented on #81
Hey, we'll need to finish it during the next days as its a blocker for a use case we have. So I'll start implementing it now. Sorry, its a bit urgent for our project.

[2018-10-19 13:36] froehr commented on #81
Please check https://github.com/ChargeTimeEU/Java-OCA-OCPP/pull/85

[2018-10-20 11:35] V2G-UK commented on #57
Hello again Thomas,

We have a sudden need for an open source OCPP 2.0 server. We have been using SteVe 1.6J up to now:

[http://www.v2g-evse.com/2018/04/16/ev-charging-station-administration-using-ocpp-1-6-with-steve/](http://www.v2g-evse.com/2018/04/16/ev-charging-station-administration-using-ocpp-1-6-with-steve/)

However the guys from RWTH don't seem to be in any hurry to get 2.0 working.

Hav

[2018-10-20 12:00] dersteve commented on #57
Sounds interesting. Is there an overview of current hardware supporting OCPP2.0? My experience in recents months regarding implementation and support for OCPP 1.6 is a bit depressing. Manufactures still struggle to support 1.6 (and I mean all features of 1.6 incl. WSS, Basic Auth and support for transaction-based charging profiles aka Smart Charging).

What is your user case? Why do you need suppo

[2018-10-20 13:09] TVolden commented on #57
I can see that the good people of new motion has begone to prepare for 2.0

https://github.com/NewMotion/ocpp/pull/27

[2018-10-20 14:15] TVolden commented on #79
Any news on this issue @lizhichao999?

[2018-10-20 17:32] V2G-UK commented on #57
@dersteve - To be very brief, because I'm assured that > 350 delegates will be attending this OCPP 2.0 interop event:

[https://www.openchargealliance.org/news/save-the-date-november-15-en-16-international-testing-symposium-featuring-the-ocpp-20-plugfest-2/](https://www.openchargealliance.org/news/save-the-date-november-15-en-16-international-testing-symposium-featuring-the-ocpp-20-plugfest-2/)

M

[2018-10-21 11:15] V2G-UK commented on #57
@dersteve - Tomorrow has arrived, so.....

I sit on the IEC committee that is developing the 63110 **international** standard which is  intended to ultimately replace the **de-facto** OCPP "standard":

https://en.wikipedia.org/wiki/IEC_63110

I am also a member of the task force that is examining alternatives to JSON over websockets, the "standard" message encoding and transport technology at pres

[2018-10-24 05:11] #81 closed

[2018-11-07 10:43] workmyhappy commented on #21
Hi everyone
I am new to ocpp .But I trying learning  everyday
Prom  form Thailand.

[2018-11-07 11:49] TVolden commented on #21
Hi @workmyhappy,

Happy to hear. Please join us on gitter. :)

- Thomas

[2018-11-15 22:17] zcweisman opened #86 "handleTriggerMessageRequest does not support the proper order of operations specified in the spec."
OCPP 1.6 specifies that a TriggerMessage.req must respond with a TriggerMessage.conf before the client send the message that was requested. The ClientRemoteTriggerHandler supports no method of being able to tell that handleTriggerMessageRequest has been called by the JSONAPI, or that it has returned, leaving the programmer unable to know when to send the requested message.

The only solution I can

[2018-11-16 13:18] TVolden commented on #86
Hi @zcweisman

Thank you for writing.

Let me see if I have it right. You receive an trigger message request, and while you're in the handler for this request want to send an other request back? This would screw up the sequence of events dictated by the specification, am I onto something?

Sincerly
Thomas

[2018-11-16 20:16] zcweisman commented on #86
I receive a trigger message request, I want to process it and return a confirmation that I will in fact send the message that the server is requesting. However, I do not believe the API provides no mechanism for me to know that I have sent that confirmation, or that handleTriggerMessageRequest has been called so that I can then proceed to send the message that the server is trying to trigger.

[2018-11-19 18:32] sudhirbai opened #87 "Could not connect to a OCPP server."
Dear Sir,
By implementing this library ,I am able to connect Steve Server but not able to connect the certifying agency server.What are the reason? Any security setting are required?

Thanks and Regards
Sudhir

[2018-11-19 20:16] TVolden commented on #87
Hi Sudhir,

Thanks for your issue, glad to hear it works with steve. I'd really like to say that my lib works with as many servers as possible, so hopefully we can make it work. 😃

Network firewalls may cause some trouble. I don't know if the certified agency server requires some form of security.

I may be of more assistance if you share some log outputs. Preferably with some error messages.

Wha

[2018-11-22 13:29] erikvda opened #88 "Reestablishing connection results in error"
I'm currently writing software for a CP with JSON/websockets and it seems like something is going wrong when the connection drops and I try to reconnect and send a HeartBeatRequest after that.

When I notice a connection drop, it triggers the ClientEvents() callback connectionClosed() in JSONClient.connect(...)) (client.isClosed() still returns false after the event?!)

I try to connect again. All

[2018-11-22 19:30] TVolden commented on #88
Hi @erikvda,

I love to hear from people who's using my lib. Thanks you for reaching out.

The behavior your describing, sounds pretty strange. I'll have to try to recreate it with a test.

What kind of server have you tested against? Have you verfied that the error doesn't originate from the server?

[2018-11-23 09:15] erikvda commented on #88
Hi @TVolden,

After deeper investigation the root cause of the problem turned out to be the way the server was implemented. Thanks for you quick reply, and keep up the good work!

Erik

[2018-11-23 09:15] #88 closed

[2018-12-11 16:44] erikvda opened #89 "DataTransfer maximum payload"
I'm trying to find out how much data I can send with DataTransfer from a charge point to a central system. At the moment it seems that requests are not handled when the payload exceeds 16 kb.

Is it intended behavior, or should it be possible to send larger messages with DataTransfer. And if so, what's the maximum size?

Thanks in advance.

Erik

[2018-12-11 20:13] TVolden commented on #89
Hi Erik

Thank you for testing out my code.

I don't know why it's limited to 16 kb. Very interesting. I wonder where this limit comes from.

You say it seems like the request isn't handled. Do you get any errors or log messages?
Do you use SOAP or JSON websockets?

Thomas

[2018-12-12 08:46] erikvda commented on #89
Hi Thomas,

I use JSON websockets.
I noticed with Wireshark that the request was sent, but it never hit the breakpoint at the server running on localhost. I use the JSONServerSample from your lib to do that. And it does work with a smaller payload for instance roughly 10 kb. See wireshark log below, of a successful and a failed attempt.

Erik

**Success situation when sending a data string of leng

[2018-12-12 14:32] TVolden commented on #89
Hi Erik,

Thanks for the wireshark output. Unfortunately I'm not sure if I can see what's the matter from it.
Do you have any log file output from the library?`

Thomas

[2018-12-18 18:59] V2G-UK opened #90 "OCPP 1.6-J Security"
The OCPP 1.6 standard has just changed. See:

[http://www.v2g-evse.com/2018/12/18/open-charge-alliance-enhances-ocpp-1-6-security/ ](http://www.v2g-evse.com/2018/12/18/open-charge-alliance-enhances-ocpp-1-6-security/ )

Jim

[2018-12-18 20:44] TVolden commented on #90
Hi Jim,

Sounds exciting. I did noticed that OCA wrote IT om their Twitter profile, but haven't had a chance to look for my self.

Does anyone know what has changed?

Thomas

[2018-12-19 06:36] V2G-UK commented on #90
I've had a chance to skim the new "white paper" now:

Jim

[2018-12-21 11:58] #89 closed

[2018-12-21 14:07] TVolden commented on #89
What is going on @erikvda?

[2018-12-21 14:10] erikvda commented on #89
I closed it, because I think it has nothing to do with your lib.
I did't comment in this thread because I was expecting a textbox after the "Close" button.

[2019-01-18 18:51] artado opened #92 "Smart Charging profile"
Hello,

It is a great library, thank you for supporting it.
I would like to ask if there is a support for ClearChargingProfile & GetCompositeSchedule messages from the Smart Charging profile. I can see implementation of the SetChargingProfile message, but for the full implementation if the Smart Charging the two messages above would be very important.

Thanks

[2019-01-18 18:55] #92 closed

[2019-01-18 19:07] TVolden commented on #92
Hi @artado

Thanks for your request. Why did you close it?

Sincerely
Thomas

[2019-01-18 19:32] artado commented on #92
Hi @TVolden,

Thanks for your reply.
I believe it was added a couple of months ago and I have just missed it working on my local repo.

[2019-01-23 11:27] artado opened #93 "Issue with a Communicator.EventHandler.receivedMessage(Object input) logger"
Hello,

I believe there is an issue with a Communicator.EventHandler.receivedMessage(Object input) when it tries to logger.trace("Receive a message: {}", message) for a JSON message.

[code]

What I`m getting in a log console is:

While in a Wireshark I can see:

Could it be something to do with a missing .toString() method for a Message class?

[2019-01-24 09:47] TVolden commented on #93
Hi @artado,

Thanks for your input.

My guess is, that there isn't any ToString() on the CallMessage class. It would be a good idea to implement one.

In unrelated news, I see there is a lower level check on the data type, and then a downcast. I'll mark it in my black book of technical debt. :)

[2019-01-24 10:17] dersteve commented on #93
@TVolden or we create a separate issue as 'good first issue' for the data type check?

[2019-01-24 10:32] TVolden commented on #93
Good idea @dersteve

I'm thinking we could solve it using a double dispatch method, like visitor pattern.

[2019-02-13 15:15] TVolden opened #94 "Refactor downcast of message types in higher level components"
As I mentioned in #93, we downcast to check. This creates direct dependencies from higher level entities to lower level entities.

Here is an example where we downcast to check if it's an instance of a 3rd part library, thereby creating a hard dependency to that 3rd part library. In this case an XML component, and since XML is being replaced by json in the OCPP standard, this dependency is unfortu

[2019-02-18 08:50] dersteve commented on #90
Here is a link to the document and specification. It talks mainly about Basic Authentication:

[ocpp_1_6_security.pdf](https://github.com/ChargeTimeEU/Java-OCA-OCPP/files/2874693/ocpp_1_6_security.pdf)

https://www.openchargealliance.org/news/enhanced-security-for-ocpp-16/

[2019-02-18 08:52] dersteve commented on #90
We could think of splitting this issue into 2 as they could be implemented separately and I guess Basic Authentication is much easier to implement.

- Basic Authentication
- Client Side Certificates

[2019-02-18 12:32] dersteve opened #95 "Ability to expose /health Rest endpoint"
**Feature Request**
We use the lib in a Spring Boot application and we would like to expose a health endpoint (HTTP/REST based) that gives us an indication if the application is healthy or not.

**The challenge**
The challenge is that we include the lib in a spring boot 1.5.x app and are not able to expose RestController endpoints through the Spring Web package. I assume the WebSocket-Listener is

[2019-02-22 13:15] dersteve commented on #95
We looked into it and it is possible to create Rest-Endpoints inside a Spring Boot app that uses the lib, even though it opens up a WebSocket listener. The important part that we overlooked was to expose the Rest-Endpoints on a different port than the WebSocket listener listens on.

[2019-02-22 13:15] #95 closed

[2019-03-20 15:17] dersteve commented on #57
@V2G-UK thanks for the message and sorry for the late reply. The standard you are referring to is NOT OCPP 2.0, right?

[2019-06-13 10:12] cyrilfr opened #97 "Using the library with diffrent WebSocket implementation"
Is there a way to use the library with a different implementation of WebSocket? For example, I'd like to use the library with Play Framwork and its own [WebSocket](https://www.playframework.com/documentation/2.7.x/JavaWebSockets) implementation.

[2019-06-13 14:12] TVolden commented on #97
Hi @cyrilfr

First of all thanks for the question. It been quite around here lately.

When I started out, one of my goals was to decouple the 3rd party implementation of communication. I can't say I succeeded with that, because some have tried to integrate with other Liv's and failed. It really depends on how the implementation is done.

I can try to check out the lib and give you some feedback du

[2019-06-13 15:34] cyrilfr commented on #97
That would be great thanks :)

[2019-06-15 18:34] TVolden commented on #97
It looks possible, but I have some concerns.
* I can't see which draft of websocket they use, which can cause compatibility problems.
* I'm not sure if wss is supported.

[2019-06-16 15:50] cyrilfr commented on #97
Play Framework uses [Akka](https://akka.io/) as HTTP and WebSocket implementation.
Personally, I use this kind of code:

[code]

[WSS](https://www.playframework.com/documentation/2.5.x/WsSSL) is fully supported.

Maybe the library should be "WebSocket implementation independant" and work with callbacks. So you can invoke the OCPP communicator with any WebSocket.

To receive a message with Play for

[2019-08-26 13:05] M9Apar opened #98 "[QUERY] How to use it?"
Hello, i am beginner for this domain, before my query i must say one of best implementation i came across for OCPP.
i successfully compile library into my environment, i am struck at how to use it? i took a reference from example and test module but i can't figure out way to pass IP and PORT for server, so can you please enlighten me with details or it would be great if there is any demo applicati

[2019-08-26 15:24] TVolden commented on #98
Hi Apar,

Thank you for your kind words.

If your interrested in implementing 1.6, then I can offer this little guide: https://github.com/ChargeTimeEU/Java-OCA-OCPP/wiki/Getting-started

I have some demo apps (they're not much):
Server: https://github.com/ChargeTimeEU/ChargeTime-HQ
Client: https://github.com/ChargeTimeEU/ChargePointSimulator

[2019-09-03 14:10] erikvda commented on #90
Hi Thomas,

Is there any news on this topic? Next to the authentication methods the document also describes new messages.

[2019-09-03 16:37] TVolden commented on #90
Hi @erikvda

Nothing new from me. I haven't gotten around to look into it, and I don't see that I will get around to it in the near future. Sorry.

[2019-09-11 08:50] ChaithanyaReddy2321 opened #99 "Client side request handling"
client can send requests and server can handle them. But the client is not handling requests from server?

[2019-09-20 18:29] TVolden commented on #99
Hi, sorry for my slow reply.

I'm not sure what you are asking. The client handles requests somewhat the same as the server.

Please see the guide for a client here:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/wiki/Setting-up-v1.6-OCPP-J-client

Can you give me a concrete example of your problem?

[2020-01-24 14:23] vikram919 commented on #90
@TVolden First of all thanks to you and contributors for such a easy to use library. As @dersteve mentioned the steps. I am pretty interested in having  Basic Authentication supported on OCPP json server. Can you please let me know which architectural adjustements we need to make inorder to have this feature. I can work on this but needed some help in terms of architecture wise.

Cheers!

[2020-01-24 14:35] TVolden commented on #90
Hi @vikram919, thanks for your reply. I'll look into it at first chance, which may be Tuesday at best. Hope that's okay.

[2020-01-24 17:03] vikram919 commented on #90
@TVolden tuesday should be fine.

[2020-01-27 10:24] vikram919 opened #102 "How to retreive Session information from OCPP Clients Requests?"
Given a charge box identity how can i retreive the session information/session id from connections existing? Why the api cannot provide session information for `SessionEvents` callback method `handleRequest`?

The information of charge box identity besides session id in `handleRequest` callback will be sinful IMHO! :)

[2020-01-27 13:24] TVolden commented on #102
Hi @vikram919,

The library does not retain the SessionInformation, which is transmitted along with the session Id when a new connection is established.
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/e8ef72491087c0b2b31d116d3bd7e00306a00145/ocpp-common/src/main/java/eu/chargetime/ocpp/ServerEvents.java#L32

I wanted to keep the abstraction level as low as possible, to give the implementer as m

[2020-01-27 13:46] TVolden commented on #99
Are you still having trouble @ChaithanyaReddy2321? - Hopefully not.
I'm closing the issue, but please don't hesitate to reopen if you disagree.

[2020-01-27 13:46] #99 closed

[2020-01-27 13:57] TVolden commented on #98
Did you edit your question after I replied? I didn't notice.

IP and Port are passed as input parameters for both server and client. How to pass IP and port between server and client is up to you. I would recommend storing this information in a configuration file.

In my example I just hardcoded IP to 127.0.0.1 and a port number I picked randomly since I haven't find a standard port for OCPP (help

[2020-01-27 14:27] vikram919 commented on #102
Thanks for the explanation.

[2020-01-27 14:27] #102 closed

[2020-01-27 20:28] TVolden commented on #90
Hi again @vikram919,

I had some time to look into it today. I'm having a hard time finding a way to use Basic Authentication with the Websocket component I use (Java-websocket). I'm not sure how to make it work. Sorry.

[2020-01-29 16:07] vikram919 opened #103 "ocpp 1.6 - Cannot send TriggerMessageRequest to client"
Hi there!,

I am using OCPP 1.6 json server and am trying to send `TriggerMessageRequest` to the client given its sessionId, I see the server throws an `eu.chargetime.ocpp.UnsupportedFeatureException`. Why is it not supported? Can it be added?

[code]

Thanks!

[2020-01-29 16:34] TVolden commented on #103
In order to send a request, you have to support the whole profile (by design):
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/e8ef72491087c0b2b31d116d3bd7e00306a00145/ocpp-common/src/main/java/eu/chargetime/ocpp/Server.java#L186

[2020-01-29 16:36] TVolden commented on #103
The request is from this profile https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/master/ocpp-v1_6/src/main/java/eu/chargetime/ocpp/feature/profile/ServerRemoteTriggerProfile.java

[2020-01-29 16:40] TVolden commented on #103
Use the addFeatureProfile method on the server to add the profile.
Hope it helps. Sorry for the many small replies, im writing then on my phone 🙂

[2020-01-29 19:06] vikram919 commented on #103
Awesome thanks! 👏

[2020-01-29 19:06] #103 closed

[2020-02-23 08:42] artado opened #104 "GetCompositeSchedule impmentation"
Hi,
Is GetCompositeSchedule from SmartCharging profile implemented? I cannot find it.

[2020-02-24 11:40] TVolden commented on #104
Hi @artado,

Sorry for my slow reply.

You should be able to create a GetCompositeSchedule request via the SmartCharging server profile:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/e8ef72491087c0b2b31d116d3bd7e00306a00145/ocpp-v1_6/src/main/java/eu/chargetime/ocpp/feature/profile/ServerSmartChargingProfile.java#L98-L100

Are you using the released version here on github?

[2020-02-24 12:01] artado commented on #104
Hi Thomas, thanks for your response. Apologies, I can see now that it was added in one of the recent commits.
Another question related to that (let me know if you want me to open different issue):
I am using jitpack.io to compile builds, I was using https://jitpack.io/com/github/ChargeTimeEU/Java-OCA-OCPP/afbdbc9/build.log and it worked fine expect missing GetCompositeSchedule.
When I try to compi

[2020-02-24 12:12] TVolden commented on #104
It's okay. It looks like maven is complaining about using http, can I get you to change the build file to use https instead to see if that works:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/e8ef72491087c0b2b31d116d3bd7e00306a00145/build.gradle#L29

[2020-02-24 12:33] TVolden commented on #104
Heh, I just did it myself. Seems to work now:
https://jitpack.io/#ChargeTimeEU/Java-OCA-OCPP

[2020-02-24 13:12] artado commented on #104
That is great, thanks for your help Thomas!

[2020-02-24 17:05] thetric opened #105 "bug: BootNotificationConfirmation does not accept interval=0"
According to the OCPP 1.6 spec it should be allowed to specify interval=0:

[2020-02-25 09:45] artado commented on #104
Hi Thomas,

I think the build is still failing, do you have any ideas? https://jitpack.io/com/github/ChargeTimeEU/Java-OCA-OCPP/-29d21f7839-1/build.log

[2020-02-25 21:02] TVolden commented on #104
Looks like a styling issue. I'll try to fix it quickly.

[2020-02-25 21:09] TVolden commented on #105
Hi @thetric,

Thanks for your input. As far as I can see the validation is the cause of the problem:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/29d21f783921bb294230343dd20389a9bc25aa51/ocpp-v1_6/src/main/java/eu/chargetime/ocpp/model/core/BootNotificationConfirmation.java#L165

I'll make a fix.

[2020-02-26 20:21] #105 closed

[2020-02-26 20:40] #104 closed

[2020-02-26 20:50] TVolden commented on #104
Hopefully, it will work this time: https://jitpack.io/#ChargeTimeEU/Java-OCA-OCPP

[2020-02-29 14:50] artado opened #112 "GetCompositeScheduleRequest.validate() changingRateUnitType check"
GetCompositeScheduleRequest.validate() should not check for **changingRateUnitType** parameter as it is **optional**.

`  public boolean validate() {
    boolean valid = connectorId != null && connectorId >= 0;
    valid &= duration != null;
    valid &= changingRateUnitType != null;

    return valid;
  }
`

![image](https://user-images.githubusercontent.com/3541390/75609710-da5fe000-5b02-11ea-94

[2020-02-29 17:39] TVolden commented on #112
Hi @artado ,

Thanks for reporting it. I'll make a fix for it by monday.

[2020-03-03 12:35] #112 closed

[2020-03-11 04:55] mkj-git commented on #87
@sudhirbai I am looking for some example on how to connect to Steve OCPP server. Can you please share example?

[2020-03-18 09:06] artado opened #114 "ZonedDateTime compatability with ISO 8601"
In one of the recent commits, in BootNotificationConfirmation Calendar was replaced with ZonedDateTime.

It looks like ZonedDateTime does not guarantee compatibility with ISO 8601.
For example my BootNotificationConfirmation is sending [3,"133305503",{"currentTime":"2020-03-18T08:38:34.465Z[GMT]","interval":290,"status":"Accepted"}]
Where **[GMT]** is not part of the standard.
See discussion here

[2020-03-18 12:49] artado commented on #114
See [Replace Calendar with ZonedDateTime commit](https://github.com/ChargeTimeEU/Java-OCA-OCPP/commit/182b9ec0ed2d71b26b5238c16dafce8f3ccfe649)

[2020-04-15 15:38] robinroscher opened #115 "Unable to find dependency with gradle"
Hi, up until now we were using this library in one of our Spring applications, specifically the following commit:

[implementation 'com.github.ChargeTimeEU:Java-OCA-OCPP:a67719e'](https://github.com/ChargeTimeEU/Java-OCA-OCPP/commit/a67719e6e78d8d2d073984d609a10540d8c89594)

Now we need to implement **GetCompositeSchedule** and need a newer commit.
We tried to use the latest commit on master:

[im

[2020-04-15 17:54] TVolden commented on #115
Hi @robinroscher,

[2020-04-15 18:03] TVolden commented on #115
I can see that I accidentally closed the issue. Sorry about that

[2020-04-16 08:04] robinroscher commented on #115
Awesome thanks a lot! Hopefully this PR solves this issue

[2020-04-21 18:33] TVolden commented on #115
I have tried to clone and run the code on repl.it but I get some wierd errors from both maven and gradle when I try to build. Something with the XmlElements and soap attributes in general. Do you get those as well?

[2020-04-22 09:50] robinroscher commented on #115
I get errors with @XmlRootElement and @XmlElement annotations

[2020-05-12 13:51] robinroscher commented on #115
@TVolden After you merged this issue **#111** I could pull the build from Jitpack, however I then got a lot of errors because of the Date component. You mentioned to create a PR for it before closing the issue so it looks like you already know how to fix it. I still have issues with the `@XmlRootElement` and `@XmlElement` annotations and can not build the project to look into it myself.

Is there

[2020-05-13 14:42] TVolden commented on #115
Hi @robinroscher, I'm sorry. I though I had fixed the @XmlRootElement issue with the jitpack build.
I could recreate the problem on my local windows PC, but I get it when I use repl.it

I'll look into it right away.

[2020-05-13 16:17] TVolden commented on #115
Okay, I have imported packages to fix the problem and updated some that caused problems.
Please try again to see if this fixed your problem.

[2020-05-15 14:59] robinroscher commented on #115
Even though I dont have the `@XmlRootElement` and `@XmlElement` errors, I still have some other errors with importing `org.slfj4.Logger` and `org.slfj4.LoggerFactory`  where I am not sure if they are on my side.

But I just noticed that your latest commit works on Jitpack for the **_OCPP-J_** module:
**`implementation 'com.github.ChargeTimeEU.Java-OCA-OCPP:OCPP-J:ecaceb4641'`**
but is broken for t

[2020-05-15 18:57] TVolden commented on #115
I haven't experienced problems related to logging. But maybe they need to be bumped up to a newer version?
I have some problems with Maven integration tests on my local pc. Im suspecting it's caused by my change to openjdk.

Which java jdk do you use?

[2020-05-18 08:03] e-power commented on #115
If you mean the Java-OCA-OCPP project I am trying with Java 11.

So, are the failing maven integration tests the reason why the **master-SNAPSHOT** branch fails on Jitpack?

[2020-05-18 08:05] robinroscher commented on #115
If you mean the Java-OCA-OCPP project I am trying with Java 11.

So, are the failing maven integration test the reason for the master branch to fail on Jitpack?

[2020-05-18 09:49] TVolden commented on #115
Hi @robinroscher

Hmm, it looked like a locked resource caused the problem, I have rerun the build and now it's green.

[2020-05-18 13:06] robinroscher commented on #115
Hi @TVolden
Maybe we are not talking about the same thing? For me it still shows as failed:

![image](https://user-images.githubusercontent.com/19746903/82216202-e34d9a00-9918-11ea-9797-2e374cb822be.png)

[2020-05-20 05:30] TVolden commented on #115
Hi @robinroscher,

I have tried to find the result you get on jitpack, but it's green on mine?

This is where i look:
https://jitpack.io/#ChargeTimeEU/Java-OCA-OCPP

Is it still red on yours? Can you send a link?

[2020-05-20 11:30] robinroscher commented on #115
I don't know what happened there, now I also see it green and can pull it!

[2020-05-21 20:29] marcinar commented on #60
You can work around this without changes in the library. I managed to integrate it with Spring WebSocket and Tomcat's implementation of JSR-356.

I can't share the code, but the basic idea is that you make a dummy implementation of eu.chargetime.ocpp.Listener that saves and exposes the ListenerEvents parameter of the open method. You can then pass it to eu.chargetime.ocpp.Server, and call the open

[2020-05-24 16:11] TVolden commented on #115
Hi @robinroscher

Does that mean that this issue is resolved? If so, can I get you to close it?

Sincerely,
Thomas

[2020-05-25 06:48] #115 closed

[2020-06-26 14:23] arnehaber opened #121 "Websocket Ping Interval"
Hi,

is it possible to configure websocket pings for the current JSONClient?

I found some related code here but it seems to be removed for the most current version,

Best,
  Arne

[2020-06-28 21:10] TVolden commented on #121
Hi Arne,

Thanks for your question. I'm curious, are you Scandinavian?

Sorry I didn't reply earlier, just saw your issue now.
The ping (which they call hearthbeat) function is obsolete with the websocket, since a socket has linkstate functionality build in. If I remember correctly, OCA made Heartbeat optional in OCPP 1.6-j and I guess it's gone in 2.0.

Wait are you asking if the websocket compon

[2020-06-29 07:00] arnehaber commented on #121
Hi Thomas,

no, I'm not Scandinavian, just my name is ;)

I do not mean the OCPP heartbeat message, I was writing about the websocket ping. Please see "Open Charge Point Protocol JSON 1.6, OCPP-J 1.6 Specification" chapter "5.3. WebSocket Ping in relation to OCPP Heartbeat". According to the 1.6 JSON Spec, the OCPP heartbeat SHALL still be used for time synchronization (once a day). The "is alive"

[2020-06-29 18:52] TVolden commented on #121
Hi Arne,

Well it sure looks like the lib I use can send ping messages. The websocket client appears to have a SendPing method, but I'll have to think about how to work it in. What do you think? Should the client send a ping message at a configurable interval with it's own internal timer? Or should the implementer (you) be able to write their own ping rutine?

[2020-06-30 06:53] arnehaber commented on #121
Hi Thomas,

I would suggest a "setPingInterval" in the JSONClient which controls the internal behavior.

- A value of 0 disables client side websocket Ping / Pong. In this case there is either no ping /pong or the server initiates the ping and client responds with Pong.
- Positive values are interpreted as number of seconds between pings.
- Negative values are not allowed and will cause a checked

[2020-08-15 12:39] cyrilfr commented on #97
I'm still interested in using OCA OCPP as a standalone library (not WS or framework integration specific).
Do you have any news about it? How could I help?

[2020-08-17 15:41] TVolden commented on #97
Hi @Cyrilfr

It's nice that you are still interested, unfortunately I don't have any news for you.

I don't have much time to spare, so I havent worked on the lib for some time now, and I don't think I will for years to come.

The case is, that I'm partaking on a masters degree this week, so I reckon I will be very busi for the next two years.

If you want to give it a try, then I'll surely assist

[2020-09-24 21:58] robert-s-ubi commented on #121
@arnehaber: That's already implemented. See https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/master/OCPP-J/src/main/java/eu/chargetime/ocpp/JSONConfiguration.java

JSONConfiguration.get().setParameter(PING_INTERVAL_PARAMETER, pingInterval) builds a configuration with the given pingInterval, which you then pass into the JSONClient constructor. Voilá!

[2020-10-02 10:52] robert-s-ubi commented on #90
Hi @TVolden,

sorry for being late to the game, but I just created a pull request which adds OCPP-J client-side HTTP basic authentication support to your library. We successfully tested this in a plugfest against backends expecting basic authentication.

[2020-10-02 11:37] TVolden commented on #90
Thanks @robert-s-ubi, I have merged it in now.

@vikram919 if your still interested. Can you test if it works now? - and if so, close this issue.

Thanks every one.

[2020-10-03 07:58] vikram919 commented on #90
@robert-s-ubi , thanks for the update, I will test it sooner until by next week and close this issue.

[2020-10-09 04:46] pradeep275 commented on #57
Hi,

Could you please help with the example of sending BootNotification from OCPP 2.0? Not able to send the request using send method.  What is the right procedure?

[2020-10-26 13:49] vikram-gopu opened #131 "Java out of memory error at WebsocketImpl decodeHandshake"
**Java out of memory error at WebsocketImpl decodeHandshake**
After running the ocpp backend for 8 days our websocket (ws only) backend running on a docker running on a Virtual Machine the connection can be made over http which has resources of 1 vCPU and 2.7 GB of storage where EV Charging Point are connecting to there was error Java out of memory error. The version of the websocket library is pr

[2020-10-26 13:49] vikram-gopu opened #132 "Java out of memory error at WebsocketImpl decodeHandshake"
**Java out of memory error at WebsocketImpl decodeHandshake**
After running the ocpp backend for 8 days, our websocket (ws only) backend docker running on a Virtual Machine the connection can be made over http which has resources of 1 vCPU and 2.7 GB of storage where EV Charging Point are connecting to there was error Java out of memory error. The version of the websocket library is provided below

[2020-10-26 13:50] vikram-gopu commented on #132
@TVolden thanks!

[2020-10-26 13:55] vikram-gopu commented on #131
duplicate

[2020-10-26 13:55] #131 closed

[2020-12-09 15:20] JamalMherat opened #133 "Some packages not found, thanks Thomas you are a great man"
1. eu.chargetime.ocpp:common:jar:0.5-SNAPSHOT
2. eu.chargetime.ocpp:v1_6:jar:0.5-SNAPSHOT
3. eu.chargetime.simulator:software_ocpp:jar:0.1-SNAPSHOT
4. eu.chargetime.simulator:facades:jar:0.1-SNAPSHOT

Notes:
---------
the README file is empty

[2020-12-10 07:02] TVolden commented on #133
Hi @JamalMherat

Thank you for your kind words.

I'm not sure what the issue is about? What are you trying to do, how are you trying to do it?

I have filled out the README.md file?

[2020-12-12 22:29] JamalMherat commented on #133
Hi @TVolden

Thanks for your response to my issue, I hope you will help me to solve it. There is a problem when running the emulator project for the charger, which is that the package is not in the repository, package name is

eu.chargetime.ocpp:common:jar:0.5-SNAPSHOT.

Gratefully,
Jamal Mherat

[2020-12-13 21:33] TVolden commented on #133
Hi Jamal,

I will try my best.

You mention a emulator, are you referring to https://github.com/ChargeTimeEU/ChargePointSimulator?

If that's the case, you need to install these lib via Maven. I would say the easiest way to do this, is to use jitpack: https://jitpack.io/p/ChargeTimeEU/Java-OCA-OCPP

Another way to do it, would be to clone the lib via github and run `mvn install`.

Hope this helps.

[2020-12-13 22:06] JamalMherat commented on #133
Thank you Mr. @TVolden

I will try that,

Thanks

[2021-01-19 08:26] TVolden commented on #132
Hi @vikram-gopu,

Sorry I haven't responded to your issue. I'm quite busy at school.

Have you made more progress? Upgrading the version of java_websocket sounds like a good approach.

[2021-01-19 08:28] TVolden commented on #133
Did it work for you @JamalMherat ?
If so, can I get you to close the issue?

[2021-01-19 10:18] JamalMherat commented on #133
Mr. Thomas

Thank you for responding,
I tried download libs but not found,
How to find it?

Thanks to much

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Thomas Volden <notifications@github.com>
Sent: Tuesday, January 19, 2021 10:28:48 AM
To: ChargeTimeEU/Java-OCA-OCPP <Java-OCA-OCPP@noreply.github.com>
Cc: Jamal Al-Mherat <j.mherat@mgc-gas.com>; Mention <m

[2021-01-19 10:29] TVolden commented on #133
If you clone this repository and run `mvn install` from the project root. Then this should work

[2021-01-19 13:09] JamalMherat commented on #133
I cloned that by clicking on download (on github) and got it as zip file then unzip it and opened with netbeans then netneans give me a resolve package msg for missing libs, I tried it but cannot work,
I will try steps by using mvn

Thanks to much

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Thomas Volden <notifications@github.com>
Sent: Tuesday, January

[2021-01-27 13:51] frgo commented on #60
Hi @marcinar , I'm also trying to use the lib on a Spring project, the lib works fine when using a different ports for WebSocket and Tomcat. However this is bringing some headaches to deploy the project as an Azure AppService, it seems Azure AppService doesn't allow to expose an aditional port.

I tryied to follow your sugestions to extend the lib, but wasn't able to make it work. Would be possibl

[2021-01-28 16:18] mathief123 opened #134 "How to connect to SteVe ocpp"
Hi.

I have my server with SteVe installed, and im new to ocpp, so i would like to ask how to connect this library to SteVe as a client so i can start transactions without manually filling the form.

Thanks.

[2021-01-29 14:26] TVolden commented on #134
Hi @mathief123,

Thanks for your question.

I'm not sure what exactly you mean by manually filling the form? Are you asking whether you need to code the logic to populate the requests for a start transaction or handle a remote start transaction? If so, then the answer is yes.

This library provides a framework to handle a connection and a structure for incoming and outgoing requests, plus som vali

[2021-02-02 09:51] kalosha commented on #60
Hi @frgo
Could you share with us same example project using Spring?
Thanks in advance

[2021-02-04 13:40] JamalMherat commented on #133
Hi Thomas,

The OCPP Client is working fine, but can connect with ocpp Steve Server or can connect with other server if you have one?

Gratefully,
Jamal Mherat

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Thomas Volden <notifications@github.com>
Sent: Tuesday, 19 January 2021, 12:30
To: ChargeTimeEU/Java-OCA-OCPP
Cc: Jamal Al-Mherat; Mention
Subject: Re:

[2021-02-18 10:30] Ivangel1972 opened #135 "IClientAPI"
IClientAPI - cannot find in 0.3 version code.:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/releases/tag/v0.3
or any ealier. Is this correct?
Greetings

[2021-02-18 10:34] #135 closed

[2021-02-18 10:34] Ivangel1972 commented on #135
sorry, Idea problem

[2021-02-19 00:27] PiotrKowalskiV opened #136 "Do you consider deploying artifacts to maven central repository?"
Hello,

in my project I import your libraries as maven dependencies obviously. It would be convenient for users, if eu.chargetime.ocpp maven artifacts were present on maven central repository. At the moment I have to download source code and build it locally in order to have them in local maven repository, so that maven "sees" them. Not much hassle, but still.

Sincerely,
Piotr Kowalski

[2021-02-19 07:57] sfeilmeier commented on #136
We do the same for OpenEMS: https://github.com/OpenEMS/openems/tree/develop/io.openems.wrapper.eu.chargetime.ocpp.

Same here: not much hassle, but it would be convenient if we could just use a library from maven - ideally with OSGi headers included.

Thanks for the great library and all the effort!
Regards,
Stefan

[2021-02-19 20:24] TVolden commented on #136
Hi,

Thanks for the enquiry. I have tried to publish the library a couple of times. I had it all set up, but hesitated to publish because the retry logic was faulty.

I'll put it on my todo list, but I can't promise that I'll get around to it before my exam period is over. Hope that's okay.

Sincerely,
Thomas Volden

[2021-03-02 15:20] pepperonas opened #137 "java.lang.NoClassDefFoundError: eu/chargetime/ocpp/wss/WssSocketBuilder"
Hello Thomas,
I build your code to these two jars:
`common-0.5-SNAPSHOT.jar` and `v1_6-0.5-SNAPSHOT.jar`

Then I took the jars and added in my project. The classes is found by IntelliJ perfectly fine.

But when I run the project I get a ClassDefFoundError

_Exception in thread "main" java.lang.NoClassDefFoundError: eu/chargetime/ocpp/wss/WssSocketBuilder
	at OcppDriver.connect(OcppDriver.java:121)

[2021-03-23 23:04] ioc-tanay opened #138 "Unable to Get Latest Library JAR Files"
Hi,

First of all, thank you for this library and the amount of effort you have put into this.

I am new to OCPP and want to implement a server for my company's new product. However, I am unable to get the latest JAR files using either of the two methods mentioned in the Wiki/Issues -

1. I have tried using JitPack through Maven, and even though it does add the dependencies successfully, it only i

[2021-03-25 18:09] ioc-tanay commented on #137
Hi @pepperonas! I am running into a similar issue and wanted to know how did you build the project to get those 3 JAR files (and where would they be located after building)? Thank you.

[2021-03-25 20:20] TVolden commented on #137
Hi,

Sorry for my unresponsiveness. It looks like you found the class, which is located in the OCPP-J module. I split them up some time ago.

If you build the project from the root folder using mavens `mvn install`, then the jars should be placed in your maven cache.
If you use maven to build the project, then having the jars in the maven cache should work, but if you want to find the files you ca

[2021-03-25 20:28] TVolden commented on #138
Hi @ioc-tanay,

Sorry for my slow response.

I didn't actually add those releases to jitpack. I'm guessing "they" took them from github releases.
You can use the master snapshot if your looking for something fresh: https://jitpack.io/#ChargeTimeEU/Java-OCA-OCPP/master-SNAPSHOT

The error you get is related to the automatically generated java docs, weirdly enough I don't get them. Try `mvn install

[2021-03-25 20:39] ioc-tanay commented on #138
Thank you for responding!

Got it. I didn't mean adding releases to JitPack but rather to GitHub itself.

Thanks, I was able to fix it and get the latest JAR files. It seems to be an issue when you are not using Java 8 (I have JDK 14 installed) and can also be fixed by adding a <source> tag in the java docs configuration.

Cheers!

[2021-03-26 11:35] robert-s-ubi opened #139 "OCPP 1.6 SampledValue does not allow optional fields to be omitted"
Hi,

the OCPP 1.6 "SampledValue" class only offers constructors which set all optional fields to default values, rather than leaving them null. Setting them to null to omit them is prohibited by the validator method.

This prevents creating a compliant SampledValue for e.g. Power.Factor, which does not have a unit. Also, for Frequency, the specification says that Hz is always assumed, but nonethel

[2021-03-26 12:51] TVolden commented on #139
Hi @robert-s-ubi,

That sounds like a good solution. It does however introduce a null pointer exception risk (which may be considered a breaking change to the interface). A compromise could be to have the get method return the default value if the field is null.

How does that sound?

[2021-03-27 13:39] robert-s-ubi commented on #139
Hi Thomas,

thank you very much for your quick response. I have created a pull request with a proposed solution, which also cleans up a number of inconsistencies in the class (enum fields were allowed to be set to null, String fields were not).

The basic change in behavior is that the fields are no longer initialized to the default values in the constructors, but rather left at null, so they will

[2021-04-07 10:31] SmartTransp opened #141 "how to add Temperture to MeterValues ?"
I want to change the default meter values been send from the charger
so it will send me also the temperture and not just the default
{"key":"MeterValuesSampledData","value":"Current.Import,Energy.Active.Import.Register,Power.Active.Import,SoC,Voltage"}

what is the correct why to do this ?

Thanks ,

[2021-04-08 09:37] robert-s-ubi commented on #141
You send a ChangeConfiguration.req with key "MeterValuesSampledData" and value "Temperature" (or "Current.Import,Energy.Active.Import.Register,Power.Active.Import,SoC,Temperature,Voltage" if you wish to keep receiving the default sampled values).

Note that the Charging Station may respond with "Rejected" if it does not support the requested measurand(s).

[2021-05-06 14:32] haresh1288 opened #142 "OCPP 1.6 & 2.0 Both"
Can you please provide the guide how to use 1.6 & 2.0 both OCPP version with single Server

[2021-05-26 07:39] bastokr opened #144 "how to send setChargingProfile"
I don't know how to  send   setChargingProfile  Central to Client

my test case has  error Code

server.sendSetChargingProfileRequest(  0,serverOpt.getCsChargingProfiles());

using this method

  public void sendSetChargingProfileRequest(Integer connectorId, ChargingProfile csChargingProfiles)
      throws Exception {
    SetChargingProfileRequest request =
        new SetChargingProfileRequest(co

[2021-05-26 08:37] robert-s-ubi commented on #144
Looks like the Charging Station returned a malformed CALLERROR message. You should try to extract the raw JSON that was received (e.g. by copying line 150 in JSONCommunicator.java after line 144) and post it here:

    } else if (array.get(INDEX_MESSAGEID).getAsInt() == TYPENUMBER_CALLERROR) {
      message = new CallErrorMessage();
+      logger.error("Received CALLERROR: {}", json.toString());

[2021-06-01 09:12] bantu commented on #136
Hello everyone.

I would appreciate if this issue could be addressed. Is there anything I can help with?

Thank you
Andreas

[2021-06-05 10:15] TVolden commented on #136
Hi Bantu,

I'm really sorry for the inactivity, but my work load is too big for me to look into this at the moment. I'll address it after my exams.

I don't know much about deploying to maven central repo, so any help/resources would be greatly appreciated when the time comes.

Sincerely,
Thomas Volden

[2021-06-30 12:52] TVolden commented on #136
Hi again,

It should be released to maven central repo now, although I think it takes some time to become publicly available.

<dependency>
  <groupId>eu.chargetime.ocpp</groupId>
  <artifactId>v1_6</artifactId>
  <version>1.0</version>
</dependency>

[2021-06-30 13:02] TVolden commented on #142
Hi @haresh1288,

Sorry for the slow reply. Right now, it's only possible to run 1.6 and 2.0 in two different processes with individual ports if you want to have them on one server.

- Thomas

[2021-06-30 13:05] TVolden commented on #141
Thanks @robert-s-ubi for helping out.

@SmartTransp did @robert-s-ubi reply, solve your problem? If so, can I get you to close the issue?

[2021-06-30 13:06] TVolden commented on #144
Thank you @robert-s-ubi, you are a big help. I really appreciate it.

@bastokr did you solve your problem? If so, can I get you to close the issue?

[2021-06-30 13:09] TVolden commented on #139
Hi @robert-s-ubi,

I can see the change got merged: https://github.com/ChargeTimeEU/Java-OCA-OCPP/pull/140

Did this solve the issue? If so, can I get you to close it?

[2021-06-30 13:10] #144 closed

[2021-06-30 13:10] TVolden commented on #138
Hi @ioc-tanay,

I'm going to close this, since you found a solution.

[2021-06-30 13:10] #138 closed

[2021-06-30 13:12] TVolden commented on #98
Hi @M9Apar,

I'm going to close this issue. If you still have problems, please don't hesitate to open a new issue.

[2021-06-30 13:12] #98 closed

[2021-06-30 13:13] bastokr commented on #144
Thanks so much for your help ^^

[2021-06-30 13:13] robert-s-ubi commented on #139
Ah, I forgot to close the issue. Thanks for the reminder!

[2021-06-30 13:13] #139 closed

[2021-06-30 13:14] TVolden commented on #114
Hi @artado ,

A pull request got merged regarding this: https://github.com/ChargeTimeEU/Java-OCA-OCPP/pull/145

Has this solved your issue? If so, can I get you yo close this issue?

[2021-06-30 13:17] TVolden commented on #133
Hi @JamalMherat,

Sorry for my slow reply.

The library should work with a Steve Server, since both are compliant with OCA standard. Have you had problems connecting to a Steve server?

- Thomas

[2021-06-30 13:18] TVolden commented on #137
Hi @pepperonas,

Did I solve your problem? If so, can I get you to close the issue?

[2021-06-30 13:19] TVolden commented on #139
No problem. I really appreciate all your good work.

[2021-06-30 13:20] TVolden commented on #134
Hi @marcinar,

Did I answer your question? If so, can I get you to close the issue?

[2021-07-13 08:43] bantu commented on #136
Hi @TVolden. Thanks for taking care of this. I see the `v1_6` on maven at https://search.maven.org/search?q=eu.chargetime.ocpp. However, the other artifacts (e.g. `OCPP-J` and `common`) are missing.

[2021-07-13 09:00] TVolden commented on #136
Hi @bantu,

Thanks for your feedback. I'll try to fix it tomorrow.

Sincerely
Thomas

[2021-07-19 09:23] bantu commented on #142
Hi Thomas.

What's causing this?

I see that https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/master/ocpp-v1_6/src/main/java/eu/chargetime/ocpp/IServerAPI.java and https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/master/ocpp-v2_0/src/main/java/eu/chargetime/ocpp/IServerAPI.java are in the same package. Is this the only reason?

Cheers
Andreas

[2021-07-20 08:20] TVolden commented on #142
Hi @bantu,

Well to be honest I can't remember the exact reason. It's been so long since I worked on it, and I can't find anything in my notes. Sorry about that. I faintly remember some problems with choosing protocol maybe? How does the client tell the server which protocol it supports?

There is some overlaps with the class definitions/names if you load both libraries, but that should be possibl

[2021-07-20 08:42] bantu commented on #142
Hello @TVolden. I was considering running an OCPP 1.6 and an OCPP 2.0 server within the same JVM.  In this case, the client could simply select which protocol to use by specifying the corresponding backend URL.

[2021-07-20 17:51] TVolden commented on #136
Hi again,

I have given it some shot and I think it finally worked:
https://mvnrepository.com/artifact/eu.chargetime.ocpp

Sorry for the slow response, it takes 24 hours every time I tried a new attempt.

Sincerely,
Thomas

[2021-07-24 21:05] bantu commented on #136
Hello.

Attempting to depend on `eu.chargetime.ocpp:v1_6:1.0` via gradle, I am seeing this:

[code]

The OCPP 2.0 package seems to be missing too.

Thanks

[2021-07-29 10:23] jmluy opened #151 "Getting exception when setting delete in SendLocalList with differential update"
I'm trying to do a delete by sending a local list using a differential update and it's causing an NullPointerException.

Based on the OCPP 1.6 document on section 7.1, when you want to delete on a differential update, you can do it by not setting the IdTagInfo. Setting the IdTagInfo means it's for add/edit. NPE occurs because of the call to IdTagInfo.validate() in AuthorizationData.validate().

I

[2021-08-15 08:16] #151 closed

[2021-08-15 08:17] #93 closed

[2021-08-23 14:05] #136 closed

[2021-10-15 17:26] srehlig opened #158 "Make websocket connect timeout configurable"
In some scenarios it is required to connect to a CPMS via websocket with a timeout.

The library java-websocket supports this with the constructor `public WebSocketClient(URI serverUri, Draft protocolDraft, Map<String, String> httpHeaders, int connectTimeout)`.

[2021-10-19 10:53] Shivraj-Patil opened #160 "Instructions to run modules"
Hi Can anybody please tell me how to run Ocpp1.6 J websocket?

[2021-10-20 09:17] MauroBono opened #161 "Adjust README of repo"
I had some struggles getting to the maven repository here: https://mvnrepository.com/artifact/eu.chargetime.ocpp
since it was just mentioned in a seperate issue on the project plan (https://tree.taiga.io/project/tvolden-java-oca-ocpp/issue/136).

Maybe you can just insert the link to the maven repo somewhere in the README for clearer and more easy use, since it would be visible on the first sight

[2021-11-02 14:21] dimaa6 commented on #90
Hi! First of all, great project and thank you for the effort.

Regarding basic authentication on server side, not sure I understand what is the complication here. There is `WebSocketListener.open` which has access to `ClientHandshake` instance. That instance has all the headers, including `Authorization` - just debugged and saw them there. What is the difficulty of having a method in `ServerEvents

[2021-11-03 07:05] TVolden commented on #161
Hi @MauroBono,

Thanks, I'll do that.

[2021-11-03 09:05] dimaa6 commented on #90
Added pull request #163 , please review

[2021-11-03 13:18] kandangit opened #164 "Problems with OCPP1.6J client implementation"
Hello,

We have upgraded our custom Central system implementation to use OCPP1.6J

We  successfully implemented server side with the library but the client side is not working when we call the charge post fro our central system. We use the same  code as in the sample (https://github.com/ChargeTimeEU/Java-OCA-OCPP/wiki/Setting-up-v1.6-OCPP-J-client)

**whenComplete returns**:

`eu.chargetime.ocpp.C

[2021-11-04 12:44] #158 closed

[2021-11-18 10:15] jmluy commented on #164
Regarding the sample, boot notification is correct, it's from chargepoint (client) to the central system (server). Remote start is from central (server) to the chargepoint (client).

From what I understood, you are trying to connect from your central system to the chargepoint and sending a remote start? You don't need to connect as client. When you started your server, you were probably using some

[2021-11-18 15:46] kandangit commented on #164
Thanks for clarification, I misunderstood part of the example of the documentation.

Yes, indeed on startup of the J2EE container we start up the websocket server with that code. That server is continuosly listening for calls coming the charge posts (BootNotification, etc) to our localhost:8887 URL

But how to open a new connection from Central System to the Charge Post to send that RemoteStartTra

[2021-11-23 06:50] jmluy commented on #164
With the library, you don't need to start a new session. When your chargepoint connects to the server, the server maintains the session. You just need to call the server function to send the remote start and it will use the existing connection to your chargepoint.

[2021-11-23 08:35] kandangit commented on #164
Right, that is now clear. I assumed a new session is opened every time you communicate with the device. Apologies for my misunderstanding! We will store the Session UUID and reuse it in any further operation CentralSystem -> Device.

[2021-11-23 08:35] #164 closed

[2021-11-24 13:05] TVolden commented on #161
Thanks again for the input, I'm going to close this. :)

[2021-11-24 13:05] #161 closed

[2022-01-11 12:41] dimaa6 opened #168 "JSONCommunicator instantiates GsonBuilder, ZonedDateTime adapter and Gson for each serialization/deserialization"
This is performance penalty and additional load on garbage collector. Gson is thread-safe, adapters don't involve anything related to synchronization. I will provide pull request which fixes this issue soon.

[2022-01-11 12:59] dimaa6 opened #170 "AsyncPromiseFulfillerDecorator starts new thread on each request instead of using thread pool"
New thread is a performance penalty, to avoid it, thread pool must be used.

[2022-01-13 13:50] dimaa6 opened #172 "Asynchronous mode for WebSocket server"
In larger scale deployment, it might be desirable to decouple communication from business logic, and use queueing/streaming to exchange messages between communication and business logic layers. Current model makes it possible, but with the cost of implementing asynchronous logic in implementation of `*EventHandler` interface.

I propose to add the asynchronous logic of handling requests sent to th

[2022-01-19 22:24] in-fke opened #173 "Your Maven Artifact Ids are "common" and "v1_6" - should be more distinct"
Imagine the Jars being packaged into a .war, their names would be:
[code]
= not very distinct with regard to other jar files.
Maybe artifactIds like "oca-ocpp-common" and "oca-ocpp-v1_6" would make more sense?

[2022-02-22 11:13] m-oben opened #177 "Upgrade Java-Websocket dependency to 1.5.2"
Currently version 1.5.1 of the Java-Websocket library is in use. This version has a small bug that sends out an invalid HTTP response as there is a return character missing. Luckily this has already been fixed in the 1.5.2 release. Therefor, we should upgrade to that release as some clients cannot properly handle said invalid response.

See also:
* https://github.com/TooTallNate/Java-WebSocket/blo

[2022-02-26 17:01] TVolden commented on #172
Hi @dimaa6,

Sorry for my slow reply, I got my hands full with my thesis.

I have faced this problem before, see: https://github.com/ChargeTimeEU/Java-OCA-OCPP/issues/86
I think the solution you propose, would solve this dilemma. Good job!

Sincerely,
Thomas

[2022-02-26 17:04] TVolden commented on #173
Hi @in-fke,

Sorry for the slow reply.

You make an excellent point. I will look into to rename artifacts, once I have the time.

Thanks.

Sincerely,
Thomas

[2022-02-26 17:33] #170 closed

[2022-02-26 18:58] #177 closed

[2022-02-28 12:48] m-oben opened #179 "Expose a client's session ID"
### Context
At server side, connecting clients are identified via their sessionId, provided by the server. This works fine.
At client side, there is no such ID available. It would be useful to identify clients in a similar way.

### Solution
A client actually already owns such an ID in its Session. Therefore, we should simply expose it.
Moreover, similar to how the server behaves, said ID could be

[2022-03-01 13:28] danielcaro opened #181 "Cloud HTTP health check of LoadBalancer keep UNHEALTHY"
**Problem:**

When the service is  deployed to GKE or any K8s behind load balancer with health check, the validator will try fetch HTTP response or TCP (https://cloud.google.com/load-balancing/docs/health-check-concepts#criteria-protocol-ssl-tcp) ,  but the Java Websocket implementations make fail the health check, and the service keep `UNHEALTHY` .

**Solution:**

Implement a `Draft_HttpHealthChe

[2022-03-01 23:43] #179 closed

[2022-03-02 06:39] TVolden commented on #181
Hi @danielcaro

Yes please set up a PR, I'll gladly review your code and merge it if it passes the automated tests.

Sincerely,
Thomas

[2022-03-17 09:42] robert-s-ubi opened #182 "Several things broken in gradle build"
Trying to build the current master yields failures in code style verifications and tests.

These files are not formatted correctly:

ocpp-common/src/main/java/eu/chargetime/ocpp/AsyncPromiseFulfillerDecorator.java
ocpp-common/src/main/java/eu/chargetime/ocpp/Client.java
ocpp-v1_6/src/main/java/eu/chargetime/ocpp/IClientAPI.java
OCPP-J/src/main/java/eu/chargetime/ocpp/JSONCommunicator.java
OCPP-J/s

[2022-03-18 15:10] robert-s-ubi opened #183 "Pull request #176 broke the FirmwareManagementProfile!"
Pull request #176 looked suspicious to me, and sure enough, it breaks things. Our client (charger) side implementation cannot send DiagnostisStatusNotificationRequests nor FirmwareStatusNotificationRequests anymore:

2022-03-18 14:36:34.181 I SAL OCPP_1_6_MSG_TX:"DiagnosticsStatusNotificationRequest"
2022-03-18 14:36:34.187 D DefaultSsoOcppCommunicationTask [571f8699]Uncritical Exception:
2022-03-

[2022-03-18 15:23] robert-s-ubi commented on #183
Reverting this commit made the library functional again for us:
https://github.com/ChargeTimeEU/Java-OCA-OCPP/pull/176/commits/fb53e2dbb7680f4ff137fa67aa740164685b4657

[2022-03-18 15:38] robert-s-ubi commented on #183
The more I look into this commit, the more bogus it appears: *ALL* Client*Profile and Server*Profile classes have this "Feature cross-over", so why should be changed in only one and not the others? Also, the "fix" was obviously done wrong: The features that were removed from the client class should have been removed from the server class and vice versa.

It seems the submitter either used the clas

[2022-03-18 18:08] TVolden commented on #183
Hi @robert-s-ubi ,

It's good to hear from you again.

I'm sorry to hear that the pull request has had unforseen consequences. I doubled checked the code with the specification before approving it, I'm sure I did. The failing tests wasn't ignored, they were removed after investigating the specs.

That being said, I do not doubt you, I must have missed (or confused) something. I'm under alot of pre

[2022-03-18 18:38] in-fke commented on #183
Sorry to hear that things were broken. As to what I tested, it fixed things for me. Please feal free to revert it and we can look at it when we have more time. As to propagating problems like this. @robert-s-ubi to you integrate via Source Code? I prefer integrating released binaries. Though as for this project, we forked it in order to have a distinct version.

[2022-03-18 19:28] TVolden commented on #183
Done. Please verify if it works.

[2022-03-18 20:08] robert-s-ubi commented on #183
Hi Thomas,

thanks for the quick response. Looking into Client.java:
`
          @Override
          public Confirmation handleRequest(Request request) throws UnsupportedFeatureException {
            Optional<Feature> featureOptional = featureRepository.findFeature(request);
            if (featureOptional.isPresent()) {
              return featureOptional.get().handleRequest(getSessionId(), req

[2022-03-18 20:39] robert-s-ubi commented on #183
Ah, taking a second look you actually had my "clean" approach implemented, and reverting restored it:
[code]
The "this" means it is a feature that is "owned" (received/handled) by this profile, whereas "null" means it is a feature that is sent by this profile. So this is all correct, the server (central system) sends GetDiagnostics and UpdateFirmware requests (marked "null"), and receives Diagnost

[2022-03-18 20:54] #183 closed

[2022-04-06 05:58] danielcaro commented on #181
Hi, I found some problems now, I gonna test the solution at production first.  Then I'll sent the PR.

[2022-04-14 17:51] splatch opened #187 "Packages split between artifacts"
Hey,
First of all, thanks for amazing library. I been playing with it over past few days and it seems to be perfect fit to what I intend to do.

One of issues I come across are packages which are split between common, ocpp-j and v1_6 artifacts. I understand that they have different role and having them sharing single root might help using package scoped access to some elements, but its no-go for t

[2022-04-14 17:53] splatch commented on #173
For `maven-war-plugin` and also other WAR archive creators elsewhere you usually can specify artifact naming pattern. What you see is an `$artifactId-$version.$packaging` (in maven terms) but nothing holds you from changing it into `$groupId.$artifactId-$version.$packaging`.

[2022-04-27 11:04] jmluy commented on #182
@robert-s-ubi working now?

[2022-05-02 19:18] AaronVanStappen commented on #121
@robert-s-ubi well voila ... a simple reconnect is not possible. One has to reboot the system to adjust the WebSocketPingInterval. Not only that, the WebSocketPingInterval has to be persisted in order to "survive" a reboot.

[2022-05-09 08:58] robert-s-ubi commented on #121
How do you get to these conclusions? This is just a library, it has no concept of "rebooting". The maximum "reset" within its scope would be stopping the JAVA VM and starting a new one. If you have this library running on a system which indeed requires a reboot to change the WebSocket ping interval, then you have some weird issue with the system, but not with the library itself.

[2022-05-14 18:19] danielcaro commented on #181
The solution was tested on production, but I would like to hear your advice.

https://github.com/ChargeTimeEU/Java-OCA-OCPP/pull/189

[2022-05-15 12:34] TVolden commented on #181
Okay, the PR is merged. Please check if it works as intended and close the issue :)

[2022-05-27 07:48] MMaiero opened #195 "OCPP 2.0 status"
Hello,
Is there an updated status of a matrix of supported features for the 2.0 version of OCPP?
In the readme I find that "Currently we support 1.6 SOAP or Web socket." but in the repository there is a folder for v2.0.
Also the project plan seems not up to date, for what I can see.

Do you have any reference to more up to date info?

Thank you very much.

[2022-05-27 08:04] TVolden commented on #195
Hi @MMaiero

It's been a long time since I worked on it, but here's my task board from Taiga:
https://tree.taiga.io/project/tvolden-java-oca-ocpp/epic/98

It shows which features I have implemented.
Hope it helps.

Sincerely,
Thomas

[2022-05-30 07:04] MMaiero commented on #195
Thanks for the reply!

Best regards,
Matteo

[2022-06-06 22:05] dagarwal82 commented on #90
I think authenticationSession in ServerEvents should also throw AuthenticationException so that ListenerEvents can capture and rethrow:

listener.open(
        hostname,
        port,
        new ListenerEvents() {

          @Override
          public void authenticateSession(
              SessionInformation information, String username, byte[] password)
              throws AuthenticationExcept

[2022-06-09 07:32] m-oben commented on #90
Hi @TVolden, @dagarwal82, I am actually in the process of making an implementation right now. Expect a PR soon...

[2022-06-15 14:01] m-oben commented on #90
See my PR #196. Please take your time to review, it's a big one :-)

The library already supports HTTP basic auth and SSLContext is used so security profiles 2 and 3 are in theory already possible. However none of the defined management messages are implemented, which is the scope of my PR.

The whitepaper mentioned by @V2G-UK is already outdated in the meantime as a 2nd edition has been released.

[2022-06-22 15:35] m-oben opened #197 "ServerEvents.authenticateSession should again throw AuthenticationException"
In commit b7979816c681993db5e45d5780d2c69af75e6525, the `authenticateSession` function was modified to remove the default method implementation. This is fine, however its signature itself was also changed as it can no longer throw an `AuthenticationException`. This breaks the authentication flow, visible e.g. in Server.java and WebSocketListener.java:

[code]

[code]

Restore it's original signatu

[2022-06-24 13:29] #90 closed

[2022-06-24 13:32] #197 closed

[2022-08-02 08:24] broce-597 opened #199 "How does the server receive and process the client's response"
After the server sends the request (RemoteStopTransactionRequest), the client will return the data, where does the server receive the data returned by the client, I did not locate the code logic, it may be my problem, please help me。

[2022-08-02 09:57] TVolden commented on #199
Hi @broce-597 ,

Thank you for the question. The response should be returned from the send method. To prevent a blocking call however, I use a build in java class to handle future promise. There should be a whenComplete method to call back once the client had responded.

Please see https://github.com/ChargeTimeEU/Java-OCA-OCPP/wiki/Setting-up-v1.6-OCPP-S-client for an example of the send->receive

[2022-08-08 15:29] KareemKelgamal opened #200 "Installation procedures"
Can you tell me please the steps to launch the chargetimeEU??

[2022-08-08 20:15] TVolden commented on #200
Hi @KareemKelgamal,

The project does not contain an application of which you can execute. It's a java library, which mean you would have to program the application yourself.

Please see previous similar issue: https://github.com/ChargeTimeEU/Java-OCA-OCPP/issues/62

If you are looking for an out of the box server (Central System), then I would recommend https://github.com/RWTH-i5-IDSG/steve

Sinc

[2022-08-09 07:02] KareemKelgamal commented on #200
@TVolden
I already installed steve server and I want an OCPP simulator to interface with STEVE.
so how can I run web socket to show the data transferred from STEVE?

[2022-08-10 01:32] broce-597 commented on #199
@TVolden Your answer solved my problem ，thanks！

[2022-08-10 01:32] #199 closed

[2022-08-18 12:19] robert-s-ubi opened #202 "OCPP 1.6 Certification Test Tool fails on SendLocalListRequest validation"
The OCTT sends a SendLocalListRequest for a full update with listVersion 0 and an empty list, to clear the local authorization list. This makes sense, as the OCPP specification requires the charge point to return listVersion 0 to a GetLocalListVersionRequest, so if another value was used in SendLocalListRequest, the charge point would have to return a different version than it accepted.

A pull re

[2022-08-19 07:58] robert-s-ubi commented on #202
Pull request merged.

[2022-08-19 07:58] #202 closed

[2022-08-19 12:21] m-oben opened #203 "Upgrade Java-Websocket dependency to 1.5.3"
Version 1.5.3 of the Java-Websocket library has been released a while ago and fixed a few issues. Currently version 1.5.2 is in use so we can upgrade.

Release notes: https://github.com/TooTallNate/Java-WebSocket/blob/master/CHANGELOG.md#version-release-153-20220409

[2022-08-19 12:34] #203 closed

[2022-08-23 01:36] jmluy commented on #200
@KareemKelgamal this is a good starting point in implementing a client https://github.com/ChargeTimeEU/Java-OCA-OCPP/tree/master/ocpp-v1_6-example/json-client-implementation

[2022-08-23 06:39] KareemKelgamal commented on #200
@jmluy
thanks
so how to run?

[2022-08-23 07:27] TVolden commented on #200
Hi @KareemKelgamal,

I know this can be confusing, and sorry for that.
There is no application to run. You or someone you hire would have to implement an application on top of this library or alternatively find an application somewhere else (just like you found SteVe).

Sincerely,
Thomas Volden

[2022-08-23 07:31] KareemKelgamal commented on #200
ok Mr. @TVolden
I understand you, I already had Steve on my server as my CSMS and I just wanted a charge point/client simulator to interface with Steve, can you recommend any open platform?

[2022-08-23 07:56] TVolden commented on #200
Hi @KareemKelgamal ,

I have to apologize again, for I have only worked on this library and therefore have no experience with running either server nor client applications.

I think it's a very good question, so I would like to keep this issue open, so the community can contribute with suggestions. Hopefully this will be a good resource for anyone with similar needs.

Sincerely,
Thomas Volden

[2022-08-28 15:33] gvtelio commented on #203
@TVolden  Would you please also release a newer version to Maven repo? Thanks in advance.

[2022-08-29 05:19] TVolden commented on #203
@gvtelio I have to add it to my to-do list. Hopefully I will have time next week.

[2022-08-29 05:19] TVolden commented on #203
@gvtelio I have to add it to my to-do list. Hopefully I will have time next week.

[2022-08-29 15:29] rayan99 opened #205 "What is the option/approach provided by the library to send the CALLERROR message from server to client with custom error information and correct messageId"
I have implemented a server based on the example given in
ocpp-v1_6-example/json_server_example/src/main/java/eu/chargetime/ocpp/jsonserverimplementation/config/ServerCoreProfileConfig.java

I have a question regarding the following implementation as an example:

@Override
public StartTransactionConfirmation handleStartTransactionRequest(UUID sessionIndex, StartTransactionRequest request) {

}

In

[2022-09-07 12:51] m-oben opened #206 "Unwanted JSON HTML character escaping"
By default, Gson escapes HTML characters such as < > etc. [source](https://www.javadoc.io/doc/com.google.code.gson/gson/2.7/com/google/gson/GsonBuilder.html#disableHtmlEscaping--)

Some sources and its solution:
- [https://stackoverflow.com/questions/16558709/gson-issue-with-string](https://stackoverflow.com/questions/16558709/gson-issue-with-string)
- [https://stackoverflow.com/questions/4147012/

[2022-09-12 07:25] #206 closed

[2022-09-13 13:56] robert-s-ubi commented on #205
What do you consider a "negative case"? The only "negative case" in which you are allowed to reply with a CALLERROR is a malformed request, i.e. if you cannot parse the StartTransactionRequest. In that case, consider that the charge point cannot really make much of the CALLERROR. It would only help if you had a charge point developer debugging on their side, but if you're in that position, you mig

[2022-09-14 10:50] dimaa6 opened #208 "To obtain sessionId, sessions map is sought for value"
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/5c608f867defb5b5cc3d55fd7c55e8246f632f74/ocpp-common/src/main/java/eu/chargetime/ocpp/Server.java#L174

This happens each time request is received. Server may be handling hundreds of thousands of connections, with hundreds of requests coming in every second. Synthetic test with map having 100,000 `UUID` keys pointing to `String` values and 1000 `c

[2022-09-14 17:42] TVolden commented on #208
Hi @dimaa6,

Thank you for reaching out. I'm happy to hear that business is good.

You are right of cause, it's a waste of resources to use containsValue. Especially if the UUID is already stored in the session via the getSessionId method.

Can I get you to create a PR for the change?

Sincerely
Thomas Volden

[2022-09-14 17:51] dimaa6 commented on #208
Sure, will do tomorrow.

[2022-09-19 08:04] #208 closed

[2022-09-22 19:24] Arflayd opened #213 "Tests not passing after #210"
Hi, after [#210](https://github.com/ChargeTimeEU/Java-OCA-OCPP/pull/210) all of the tests in [ocpp-v1_6-test/src/test/groovy/eu/chargetime/ocpp/test/profiles/core/soap](https://github.com/ChargeTimeEU/Java-OCA-OCPP/tree/master/ocpp-v1_6-test/src/test/groovy/eu/chargetime/ocpp/test/profiles/core/soap) are failing for me. They were passing before this PR. All other tests are passing.

It seems that

[2022-09-22 19:34] emilm commented on #213
CI doesn't run this test?
I tried to run it but get:
javax.xml.soap.SOAPException: Unable to create SOAP connection factory: Provider com.sun.xml.internal.messaging.saaj.client.p2p.HttpSOAPConnectionFactory not found

[2022-09-22 19:47] emilm commented on #213
@Arflayd I guess Confirmation needs @XmlRootElement annotation.

[2022-09-22 20:40] Arflayd commented on #213
@emilm That is also a problem when using higher versions of Java, but when sticking to Java 8 it doesn't occur and no extra dependencies are needed. I have tried Xml related annotation on the Confirmation class, but the problem still occurs.

Also - in my app which uses this library and Spring, there also seems to be a problem with serialization of the Confirmations when attempting to save them in

[2022-09-22 21:17] emilm commented on #213
@Arflayd I use Java 11 and I have no idea how to correctly reproduce . Do I have to get java 8 as well?

[2022-09-22 21:34] Arflayd commented on #213
For Java 11 I added `compile group: 'com.sun.xml.messaging.saaj', name: 'saaj-impl', version: '1.4.0'` as a dependency for `ocpp-v1_6` and get the same stack trace as posted above

[2022-09-22 21:40] emilm commented on #213
Hm I have no idea where to add that into the maven project. I use Maven.

[2022-09-22 21:54] emilm commented on #213
I reproduced the problem and fixed it by adding  @XmlTransient:

[code]

[2022-09-22 22:03] Arflayd commented on #213
Great, it does work. I never worked with this serialization and only tried this annotation on the field, not the getter. Thank you for getting to the bottom of it!

[2022-09-22 22:06] emilm commented on #213
Cool!
@TVolden  not sure how to add this fix, another PR ?

[2022-09-23 04:34] TVolden commented on #213
@emilm yeah that would work.

[2022-09-24 16:31] #213 closed

[2022-09-30 08:34] #86 closed

[2022-09-30 08:34] #172 closed

[2022-09-30 12:29] dimaa6 opened #216 "Word "occurrence" is misspelled"
https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/9fe3b7910a15158686887530f09d3d8983ed9c16/ocpp-common/src/main/java/eu/chargetime/ocpp/Session.java#L159-L160

https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/9fe3b7910a15158686887530f09d3d8983ed9c16/ocpp-common/src/main/java/eu/chargetime/ocpp/OccurenceConstraintException.java#L28

Word occurrence is spelled with double R. This typo is visible

[2022-09-30 20:03] TVolden commented on #216
Hi @dimaa6,

God catch. I wouldn't be surprised if there were more. ;)
Just go ahead and make a PR and I'll merge it in.

Thanks you for keeping an eye on the code.

- Thomas

[2022-10-13 16:01] HiGregory commented on #200
Hi @KareemKelgamal, responding to the community request for an open platform

We have an open platform that can act as a ChargePoint/Client Simulator to interface with Steve/OCPP: https://datagovs.com/apps/

Let me know how we might be able to help you here as we've been able to pull data in the US for 10,000s of EV Charge Stations. Feel free to email at vendor@datagovs.com or direct message me he

[2022-11-09 15:46] bantu opened #221 "BootNotificationRequest::setChargeBoxSerialNumber(null) throws NullPointerException"
I am not sure whether this is the expected behavior, I do not believe it is.
[code]
throws a `NullPointerException` due to `.length()` in
[code]
being called on a `null` `String`.

Note that `chargeBoxSerialNumber` is optional in `BootNotificationRequest`.

Here's a test for reproduction:
[code]

[2022-11-09 15:53] bantu commented on #221
Created a branch with the test here: https://github.com/ChargeTimeEU/Java-OCA-OCPP/compare/master...bantu:Java-OCA-OCPP:test-for-github-221?expand=1

[2022-11-11 08:22] TVolden commented on #221
Hi @bantu,

Your right, that makes no sense. Thanks for pointing it out.
Maybe the ModelUtil should have a small method to extract lengths or 0 from a string?

If you make a PR, I'll merge it ;)

- Thomas

[2022-11-15 01:48] jmluy commented on #221
This also affects the other optional fields in that class like chargePointSerial;Number, firmwareVersion, iccid, imsi, meterSerialNumber and meterType.

[2022-11-15 15:54] bantu commented on #221
Yes. Thank you. I was about to mention that. Does it also affect other classes?

[2022-11-16 01:51] jmluy commented on #221
I didn't check all but for some classes they do a check with something like the following.
```if (field != null && ...) ```

I saw some code which probably have the same issue

-  https://github.com/ChargeTimeEU/Java-OCA-OCPP/blob/1c53b530a7609c0c98edb98e87c214d8d5e187d7/ocpp-v1_6/src/main/java/eu/chargetime/ocpp/model/core/DataTransferRequest.java#L110-L116
- https://github.com/ChargeTimeEU/Java-

[2022-11-18 07:45] odiwml147 opened #222 "How to customize the time format for json serialization"

[2022-11-23 00:23] jmluy commented on #222
@odiwml147 do you mean writing existing objects in this project to JSON and converting the time to a specific format?

[2022-11-24 15:50] bantu commented on #221
@jmluy I'll focus on BootNotificationRequest.

[2022-11-28 21:48] #221 closed